[2017-12-01 18:22] #412 closed

[2017-12-02 14:48] saroar commented on #330
is there any update ?

[2017-12-02 14:59] saroar commented on #379
i have a group chat it will show all user avatar separately?

[2017-12-03 10:08] saroar opened #413 "For Group Chat"
i am trying to show each user avatar and name on my back-end i did something like this https://github.com/PerfectExamples/Perfect-Chat-Demo/blob/master/Sources/ChatUser.swift

so is it possible if yes please show some code how i can do it thanks advance

i can do something but it does not help me
[code]

[2017-12-03 10:13] saroar commented on #390
@LisforLyance did you done it if yes would you like to share with me please i like to show each username and avatar Thanks advance

[2017-12-03 12:44] LisforLyance commented on #390
@saroar Yes I did it just as @AntonPalich explained it. I created a **LabelCollectionViewCell**, a **LabelPresenter** with a **LabelPresenterBuilder** and a **LabelModel**. You can copy the classes of your **TimeSeparator** and just adjust them, so that they match your needs.
You can then add the **LabelPresenterBuilder** inside your ChatViewControllers **createPresenterBuilders** method. You also

[2017-12-03 16:39] saroar commented on #390
@LisforLyance i am very young in swift language only 3 months so I will be happy to see your code and screen short how your app u show it, if it is possible you can send email saroar9@gmail.com or create full gist and share with me, I already create demo app with 1to1 chat but for me group chat I need to show each your photo or name here my demo app https://github.com/saroar/RealtTimeIOSChat

[2017-12-03 16:47] LisforLyance commented on #390
@saroar I am also new to Swift and programming in general. In fact, I am just an IT student right now, so I am not sure, if everything I am doing is the way you should do it. But it works, so you can look it up and improve it. I am going to put the whole project online, because I am currently not working at it anyways. There are still some bugs and stuff that needs to be fixed, but you should be a

[2017-12-03 16:48] saroar commented on #390
@LisforLyance where are i find that code thanks for quick reply

[2017-12-03 16:58] LisforLyance commented on #390
@saroar I am about to upload it right now, I am just not sure how to do it. Would you recommend using a repo or a gist for the whole project?

[2017-12-03 17:14] saroar commented on #390
@LisforLyance you can put whole project if it is not ur private just create repo in github in ur account if you need any help we can call share ur screen :)

[2017-12-03 17:26] LisforLyance commented on #390
@saroar I hope I did everything correct. You can find the repo here:
https://github.com/LisforLyance/ProjectFinder

If something doesn't work please let me know :)

[2017-12-03 17:33] saroar commented on #390
thanks I will check sure

[2017-12-03 17:36] saroar commented on #390
is this work with multiple users?

[2017-12-03 17:46] saroar commented on #390
@LisforLyance you like Firebase i am using chat app with Swift Back end with real time chat app if you are interested we can work together with back api which will help you in future
check this app https://github.com/saroar/RealtTimeChatWithAppPerfectWebSocketApi
real time chat like firebase but fully control by u :) send me ur email/fb if are interested more about it thanks

[2017-12-03 18:03] LisforLyance commented on #390
@saroar The chat rooms in the app work with multiple users. The username labels are not loading the names jet, but I am sure you already figured that out. The problem should be described with comments.

Your offer sounds nice and I will keep it in mind. I don't need it right now, as I'm just working at a small game app, but if I need it in the future I will talk to you :)

[2017-12-05 17:20] AntonPalich commented on #413
@saroar Where did you put this code? Can you share the presenter that manages your message with an avatar?

[2017-12-05 21:39] saroar commented on #413
@AntonPalich thanks for quick reply
here is my pictures and users

http://prntscr.com/hjl2sm
http://prntscr.com/hjl4r6

https://gist.github.com/saroar/3ce35f1c442ee89e8fa83bbf309d2d9c

[2017-12-06 14:38] AntonPalich commented on #413
@saroar Do you see avatar at all?

If you don't see it, can you check that you set `canShowAvatar` to `true` in `ChatDecorationAttributes` in your `ChatDecorator`??

If `canShowAvatar` is true then the issue is in `BaseMessageCollectionViewCell` that doesn't observe changes in `avatarImage` property. We don't use it in production, so it can be a bug. Your view model sets image asynchronously. Ther

[2017-12-06 14:40] saroar commented on #413
[code]

[2017-12-06 14:41] saroar commented on #413
if you click this
http://prntscr.com/hjl2sm
http://prntscr.com/hjl4r6

you can see what my i see in my app please see those screen short please

[2017-12-06 14:42] saroar commented on #413
i need each ur avatar will show my group chat i think it is not possible with Chatto or each user name

[2017-12-06 15:01] AntonPalich commented on #413
@saroar It's possible. You have a full control over the bubble content.

I see that you set avatar placeholder for all incoming messages. If you want to set a user image your message should provide an information that can be used to load an avatar for each incoming message. This information can be a user ID or an URL to an image, it's up to you. The same for outgoing messages.

[2017-12-06 15:09] saroar commented on #413
Thanks for quick reply
My msg have image URL then I will show it or let do it user id now please can you guide me how i can do it i am very new in swift may be ur little help i can do it then will publish this here to so every one can get help from here or show me some code where i can see @AntonPalich thanks advance

[2017-12-08 11:52] Xopoko opened #418 "How to add additional MessageStatus?"
I want to extend this enum with additional cases like "sent, read, delivered". So, how can i do it?

[2017-12-13 11:04] AntonPalich commented on #418
@Xopoko Do you want to modify messages state depending on additional cases or you just want to add text statuses under messages? Like this "Read" status:

![image](https://user-images.githubusercontent.com/1708330/33935348-867cb58a-dff3-11e7-88e6-44601c4bba68.png)

`MessageStatus` is used to determine messages appearance in different states. For example, it is used to choose an appropriate bubble

[2017-12-13 12:28] Xopoko commented on #418
@AntonPalich Thank you so much. It really helpful for me. Thank!

[2017-12-13 12:47] #418 closed

[2017-12-13 17:34] ploper187 commented on #331
I am also having issues making use of the Chatto framework. Upon installing using Cocoapods, I have 18 issues, just like @Graystripe17 ...

Is this a known issue or simply a mistake on our part?

[2017-12-14 09:50] ngocdmplaynext opened #420 "bug when switch between landscape and portrait in ios 11"
I downloaded and run the example but in ios 11 it has bug when i switch between landscape and portrait like this
https://ibb.co/jPc5um
https://ibb.co/fPew0R

[2017-12-14 10:25] AntonPalich commented on #331
@Graystripe17, @justdan0227, @ploper187 The last Chatto version that supports Swift 3.2 is 3.2.0. The master branch uses Swift 4.

You see errors because Swift version specified in your Pod project and Swift version used in Chatto differs. Make sure, that they match.

Several examples:
1. Project and pods uses Swift 3.2. Chatto points to 3.2.0. You don't need to do anything.
2. Project and pods us

[2017-12-19 12:04] girishghoda opened #423 "Update message & access Imageview from PhotoMessageModel"
Hi @AntonPalich / Chatto team,
I have creating chat view in my application & which have two way messaging , So i have two requirement/ want to help regarding

 a) I want to access imageview of PhotoMessageModel for show image from server.
 b) If already added message in chatview & i want to specific message for status update.

So any help/suggestion for these two topic/requirement

Thanks

[2017-12-19 12:31] saroar commented on #413
@AntonPalich  how i do know current user id here? so i can show user name or avatar , becz `decoratedTextMessage` i have one text nothing else

[2017-12-20 07:31] saroar commented on #413
thanks everything is working great

here is my code working for group chat

[code]

[2017-12-20 07:47] girishghoda commented on #423
Hi @AntonPalich /Chatto team,
I have new issue with status,

i already creating model with .success status but sometime (most likely) sended photo with red icon

my code is below:
 let messageModel =  self.makeMessageModel(postObject.id, isIncoming: isComing, type: PhotoMessageModel<MessageModel>.chatItemType,messageStatus: .success)
let photoMessageModel = ChatPhotoMessageModel(messageModel: mess

[2017-12-24 05:38] mukulm24 opened #426 "Cannot download latest version"
The latest version I can download is 3.0.1. I'm using Xcode 9.1
I'm not able to use the library as the syntax errors are thrown.

[2017-12-24 05:44] #426 closed

[2017-12-24 05:48] mukulm24 opened #427 "Chatto Additions latest version is not updated yet"
It gives me many syntax errors on version 3.2.0 of Chatto Additions using Xcode 9.1

[2018-01-06 17:28] guisua commented on #398
I have this exact problem, too. As a temporary solution, this works:

[code]

[2018-01-07 13:47] iONsky opened #431 "Make scrollViewDidScroll in BaseChatViewController open"
Hello,

I was wondering if you could mark the function [scrollViewDidScroll](https://github.com/badoo/Chatto/blob/6389e667d342cde4a305469eb117ae702579b814/Chatto/Source/ChatController/BaseChatViewController%2BScrolling.swift#L109) in `BaseChatViewController` as open in order to override it in my custom ChatViewController?

Kind regards
Maxi

[2018-01-09 11:10] LukA888 commented on #390
Hi @AntonPalich! Did you finally write a tutorial about adding new items that behaves like messages (that support swipe to reveal feature, for example)?

[2018-01-12 10:39] soleniacz commented on #326
Same issue here. Wrong Models? Presenters? Anybody!?

[2018-01-12 12:13] qiyazong opened #433 "A question about message's failedIcon"
Hello,I have a question about failedIcon. When the message send failed,I tap  the failedIcon,the message will send again,but the UI isn't update,the message resend success,but the failedIcon still there. And only when I send another new message,the failed Icon will be updated.Is anyone know where my problem is?My code almost the same as the demoCode.I have stop there for tow days... Think you all

[2018-01-12 19:28] AntonPalich commented on #433
Hey @qiyazong Make sure that your `MessageModel` implementation returns correct `status` value. It's shown as failed because you model returns `.failed` state.

Also, if you copy pasted a demo app then check `DemoChatMessageSender`. It sets random status after you resent a message

[2018-01-18 08:36] seidju opened #434 "Correct way to add custom UIMenuItems"
Hi, i'm trying to add custom menu items for each cell (like, reply, delete and etc.). But I didn't found any examples of how to correctly do it. Could you please provide some very simple example of this feature?
Thanks a lot.

[2018-01-19 09:27] axenovV commented on #367
I have that same issue, when I set chatDataSource
`Main Thread Checker: UI API called on a background thread: -[UIView init]
PID: 14442, TID: 1217367, Thread name: (none), Queue name: com.apple.root.user-initiated-qos, QoS: 25`

[2018-01-23 22:06] dannysood commented on #326
Same Issue here!!!!

[2018-01-23 22:07] dannysood commented on #326
@jsia18 how did you fix it

[2018-01-26 05:49] jsia18 commented on #326
did not fix it, I removed it as a carthage package and just include
everything in my code

On Wed, Jan 24, 2018 at 6:07 AM, Pulkit Sood <notifications@github.com>
wrote:

[2018-01-26 16:15] tapparello commented on #427
Is anyone working on this? I have the same issue in Xcode 9.2

[2018-01-29 22:46] bayareahank commented on #334
Is it still the case with Xcode 9 and iOS 11?

I tried to run the example app included in the latest source tree, with Carthage. Then build failed with message:
Use of unresolved identifier 'BaseMessageDecorationAttributes" .

An earlier version of last Nov works fine.

[2018-01-29 23:02] bayareahank opened #435 "Change 4b094c2 breaks example app's build"
Change 4b094c2 (Extracted parameters from ChatItemDecorationAttributes related to BaseMessageDecorationAttributes). introduces  new data struct BaseMessageDecorationAttributes, and example app's source is updated to utilize it. Yet this happened after 3.2.0.,  so Carthage build, which pulls 3.2.0 automatically, would fail to recognize this data structure, causing build failure

We should either bu

[2018-01-30 19:06] AntonPalich commented on #435
@bayareahank Can you provide more details? I tried to build Chatto with Carthage and it works fine for me.

Cartfile:

`github "badoo/Chatto"`

Console output:

[code]

After that I opened `Carthage/Checkouts/Chatto/ChattoApp/ChattoApp.xcworkspace` and build `ChattoApp` target. I didn't see any compilation issues

[2018-01-30 19:08] AntonPalich commented on #334
@bayareahank Let's continue discussion in #435

[2018-01-30 19:08] #334 closed

[2018-01-30 19:13] AntonPalich commented on #427
@mukulm24, @tapparello Please, check this comment: https://github.com/badoo/Chatto/issues/331#issuecomment-351670462

[2018-01-30 19:15] #427 closed

[2018-01-30 20:02] AntonPalich commented on #434
Hey @seidju. Here're the steps:
1. Define a selector for your custom actions. It allows you to access this selector from different places and has a single source of truth:

[code]

2. Add custom action to shared UIMenuController. You can do it in `viewDidLoad` function:

[code]

3. Override `func canPerformMenuControllerAction(_ action: Selector) -> Bool` in a presenter for a message that should d

[2018-01-30 22:41] bayareahank commented on #435
Can you check source file under the example app Carthage directory at ./Carthage/Checkouts/Chatto/ChattoAdditions/Source/Chat Items/ChatItemDecorationAttributes.swift and see whether it contains definition of struct BaseMessageDecorationAttributes? BTW, this checkout should be purely 3.2.0 source code.

I repeated the carthage build procedure again, and I can see the difference of Chatto 3.2.0's C

[2018-01-30 22:57] bayareahank commented on #435
BTW, I assume that you already know that you need to add the framework built by 'carthage update' to the 'linked frameworks and libraries' section under project's 'general' tab. And also to get rid of the stuff related to pod. Otherwise the default build may still use libraries provided by pod, not carthage. I am suspecting that could be a cause here. FYI.

[2018-01-31 03:20] seidju commented on #434
Thanks @AntonPalich , I made a little bit different way, but still thanks a lot!

[2018-01-31 03:20] #434 closed

[2018-01-31 10:24] AntonPalich commented on #435
@bayareahank `DemoChatItemsDecorator` exists only in the demo app in the master branch. In the 3.2.0 version, it's called `ChatItemsDemoDecorator` and it doesn't use `BaseMessageDecorationAttributes`. If you open example app from `Carthage/Checkout/Chatto/ChattoApp` folder you won't find `DemoChatItemsDecorator` here.

I think you're trying to put framework build for 3.2.0 into demo app from the m

[2018-01-31 19:13] bayareahank commented on #435
It is exactly as you said. But the thing is, if you try to compile master branch using Carthage, it will pull in 3.2.0 branch's code, and thus not working. This is the root cause, that is the reason I am suggesting to bump up existing version, so carthage build of master branch can work.

[2018-02-01 10:52] AntonPalich commented on #435
I see. Unfortunately, I can't bump version yet. It will be done in the next weeks. We have to do some tasks before releasing a new version that supports Swift 4.

Until then you can use "master" branch in Cartfile.

[2018-02-01 10:52] #435 closed

[2018-02-05 11:27] vpadmnabh opened #436 "Displaying image message from network"
i have gone through previous issues regarding same problem. But none of them clearly provides a way to do this. I have existing Model where I am adding Chatto for UI so I am able to create a message with placeholder but unable to figure out the best way to change the same after download.

Even if i update the model message and perform chatDataSourceDidUpdate(self) it's not reflected.

My another q

[2018-02-06 07:27] seidju opened #437 "Scroll to specific Message Item"
Hi @AntonPalich , I want to implement Reply functionality, so user, after he taps on "replied" message scrolls to original message.
The main problem is, that sliding data source doesn't give me all items at once, so before scrolling, I need to add messages to dataSource, something like this:
[code]
Now, I call something like recursively append images to SlidingDataSource, until desired `messageId`

[2018-02-09 09:56] AntonPalich commented on #436
Each message is controlled by the corresponding presenter. You have access to a message view model from a presenter and you can modify a view model at any time here.

I suggest you to subclass `PhotoMessagePresenter` and override `cellWillBeShown` and `cellWasHidden` functions.

You can put a placeholder to a view model in `cellWillBeShown` function and start downloading here and you can cancel do

[2018-02-09 13:34] vpadmnabh commented on #436
Thanks
I'll give it a try.
Is there a way i can keep downloading logic separate so that my previous work is not obsolete. Or this is the only way we can do for downloading images. It's not necessary for me to show loading indicator right now.

[2018-02-09 15:42] AntonPalich commented on #436
Of course, you can keep it separate. You just need to use it within presenter.

In Badoo, we use a separate service to download and cache images and we pass this service as a dependency into a presenter. When a photo message is about to appear (`cellWillBeShown` is called) we ask the service to download an image from URL taken from a message. When image is downloaded we assign this image into a vi

[2018-02-12 10:04] MussaCharles opened #439 "Method to override so as to do initial setup before createChatInputView() method is called."
Hello, I use Chatto for my messaging app, users can block one another so If a user is blocked after a number of chats I want to replace the chat Input view with my custom view with just a label explaining that they can no longer send messages but able to view the previous chat history. I successfully created my custom input view which will be shown to the blocked user only,  I  just need a way to

[2018-02-12 12:09] dabrowskipw opened #440 "Woud it be possible for PhotosChatInputItem's photoInputHandler to reveal info whether photo comes from camera or has been selected from picker of previously taken photos?"
Would be great for me to be able to distinct the cases between the one when we actually shoot the new picture or manually select existing one from image picker.
`PhotosChatInputItem` has access to such data but they're not passed further to `photoInputHandler`.
Thanks

[2018-02-12 22:24] thebrankoo opened #441 "How to change spacing between custom chat cells?"
What is the best way to change spacing between custom made chat cells?  I need to eliminate spacings.

[2018-02-13 09:05] LukA888 commented on #441
Hi!

The chat decorator has always the last word and you have to configure your wanted spacing for your cells there.

You can check the functionality in the demo app: https://github.com/badoo/Chatto/blob/master/ChattoApp/ChattoApp/Source/Chat%20View%20Controllers/DemoChatItemsDecorator.swift#L106

[2018-02-16 15:47] #398 closed

[2018-02-17 20:33] kylebrowning commented on #269
@azimin Any chance this will be answered?

[2018-02-17 22:15] AntonPalich commented on #269
@kylebrowning You can override `BaseChatViewController. createChatInputView` function and return your own input bar.

[2018-02-19 00:40] MikeSalvador opened #448 "iOS 10 Compatibility"
Is Chatto compatible with iOS 10? I'm having issues compiling when I set the build target to 10.0.

[2018-02-19 10:20] AntonPalich commented on #448
@MikeSalvador It's compatible with iOS 10. What kind of issue do you have? It compiles for me in the demo app

[2018-02-19 19:12] MikeSalvador commented on #448
Sorry, I should have been more specific. So it's not archiving, but I'm able to run it on my iPhone. The error I'm getting is when I try to import Chatto, it's saying 'No such module 'Chatto'

[2018-02-19 19:19] MikeSalvador commented on #448
This error started showing up after I changed my deployment target from 11.0 to 10.0.

[2018-02-19 19:40] baldemir opened #449 "space between cells"
Hi,

Firstly thanks for such a useful framework. After i integrated your framework from demo to my app i have 0 spaces between cells. It looks a bit bad. I googled about how to fix that but couldn't find a proper way. Is there anyone who can tell me how can i increase this space? I'm talking about vertical space when user sends consecutive messages.

<img width="275" alt="screen shot 2018-02-19 at

[2018-02-20 16:00] allaire opened #450 "GIF support in PhotoBubbleView?"
Hi, it would be nice to support Animated GIF when using the PhotoBubbleView in ChattoAdditions.

[2018-02-20 18:53] alexanderkhitev opened #451 "Input bar during first opening does not follow safeArea on iPhone X."
Please have a look
![iphone x - 11 2 2018-02-20 22-51-28](https://user-images.githubusercontent.com/12511909/36442943-c68121d8-1690-11e8-906f-cc78e556f860.png)

[2018-02-21 00:08] alexanderkhitev commented on #451
Hi @AntonPalich ! I  deleted everything from the `setupInputContainerBottomConstraint` function except `self.inputContainerBottomConstraint.constant = self.bottomLayoutGuide.length`  and it does not break UI if used with `TabBar`. Please comment on this.

[2018-02-21 03:23] MikeSalvador commented on #448
Just had to reinstall the Chatto/ChattoAdditions pods.

[2018-02-21 03:23] #448 closed

[2018-02-21 10:08] AntonPalich commented on #451
@alexanderkhitev Consider applications that use tab-bar everywhere but chat. They want to hide it when chat is opened. Does this case still work after your changes?

[2018-02-21 10:44] alexanderkhitev commented on #451
@AntonPalich I will write to you in some time, as I will check. But the current code breaks the following script, the UITabBarController application has a rootViewController, when we go to ChatViewController and set the following value to hidesBottomBarWhenPushed = true, then we get the result which is in the screenshot above.

[2018-02-21 11:10] alexanderkhitev commented on #451
@AntonPalich it breaks even ChattoApp. Please have a look at https://monosnap.com/file/2f6jGpYNWsRvhXptRjqLyslGKy61DR

[2018-02-21 11:48] alexanderkhitev commented on #451
@AntonPalich I sent a new pull request, I did a manual test, everything works as in the demo project and in our project. You can watch the video.

[2018-02-22 08:25] geideaiosapps opened #455 "Support photo gallery"
Is there any capability to add collection view inside chatting like the attached screenshots and alert actions ?

![screen shot 2018-02-22 at 11 18 22 am](https://user-images.githubusercontent.com/36667715/36527466-ea45ae8a-17c2-11e8-9146-f30f6eabbd02.png)
![screen shot 2018-02-22 at 11 15 17 am](https://user-images.githubusercontent.com/36667715/36527467-ea67d320-17c2-11e8-934b-3b7ff99ee5df.png)

[2018-02-23 10:07] pablosproject opened #456 "Chatto 3.2.0 from CocoaPods not compiling"
I have added chatto as dependency in my Podfile, and when using the tag 3.2.0 the project is not compiling.
The only way to get it working is to use the version pointing directly to master.

[2018-02-26 16:39] sergdort commented on #456
Same

[2018-02-26 16:55] AntonPalich commented on #456
@pablosproject , @sergdort  https://github.com/badoo/Chatto/issues/331#issuecomment-351670462

[2018-02-26 22:11] #451 closed

[2018-02-26 22:12] #456 closed

[2018-02-26 22:16] AntonPalich commented on #455
@geideaiosapps You may have any kind of custom items in a chat, including other collection views (that will be a simple cell that contains collections view as a content). You can check this small tutorial: https://github.com/badoo/Chatto/wiki/Tutorial_Add_Custom_Cell

[2018-02-26 22:19] AntonPalich commented on #450
@allaire I would implement a completely new cell for this purpose. It would be hard to support both gif and static images inside one cell. Any contribution is appreciated. I'm not sure that we will do in in the near future (since we don't need GIF support in our main app).

[2018-02-26 22:19] #450 closed

[2018-02-26 22:20] AntonPalich commented on #449
Thanks @LukA888

[2018-02-26 22:20] #449 closed

[2018-02-26 22:20] #441 closed

[2018-03-01 09:02] baldemir opened #458 "Collectionview change height"
Hi,

I want to place a navigationbar on top of chatviewcontroller. When i place it programmatically collectionview which shows messages comes under navigationbar partly. When i try to change content inset of collectionview in viewDidLayoutSubviews collectionview comes to desired positions but then it doesnt scroll to bottom. Even when i send new messages it doesnt scroll to bottom. Any idea about

[2018-03-03 19:46] #259 closed

[2018-03-06 14:27] Daxito opened #459 "Compile Error"
I am getting this error, am I missing something? Thanks!

![image](https://user-images.githubusercontent.com/16787057/37037496-0bb0c7e0-2118-11e8-9026-9005246cfb0d.png)

[2018-03-06 17:39] kylebrowning opened #460 "Right align buttons on scrollview for ChatInputBar?"
title says it all, is there any to get the button's to be on the right side of the ChatInputBar

[2018-03-08 09:45] alamyudi commented on #459
Hi @Daxito , i also have some problem, i do some point below to resolve that :
1. change the swift language compiler from 4.0 to 3.2
2. clean project
3. run `pod install`

<img width="746" alt="screen shot 2018-03-08 at 16 39 35" src="https://user-images.githubusercontent.com/839045/37144101-a00e13ce-22ef-11e8-8ad0-49c58c7468f7.png">

[2018-03-08 14:34] Daxito commented on #459
Thank you @alamyudi , but I have to use Swift 4.0, if I use:
pod 'Chatto', :git => 'https://github.com/badoo/Chatto', :branch => 'master'
pod 'ChattoAdditions', :git => 'https://github.com/badoo/Chatto', :branch => 'master'

Then it is fine.

[2018-03-10 20:06] AntonPalich commented on #458
@baldemir Can you explain in more details? BaseChatViewController uses top layout guide to set top content inset. So, if you add it to a navigation controller it should work automatically. If you put a custom view at the top, then you can use `BaseChatViewController.layoutConfiguration` available in the latest master to redefine content insets.

[2018-03-10 20:07] #459 closed

[2018-03-10 20:07] #455 closed

[2018-03-11 12:42] AYASHI opened #462 "Calculate cell height failed when use attributedText"
When i use textView.attributedText instead of textView.text cells height are damage and cell drown on top of each other, can you help please.

[2018-03-12 13:25] AntonPalich commented on #462
@AYASHI It happens because text cell doesn't take into account text attributes that you're using during layout calculation. Currently, you can change only text color, font and text insets. You can do it by changing `TextMessagePresenterBuilder.textCellStyle` property. The easiest way is to reuse `TextMessageCollectionViewCellDefaultStyle` and provide your own values in `TextStyle` structure:

[cod

[2018-03-12 16:03] borkuslav opened #463 "Text containing CLRF doesn't render on iPad in some cases"
When I test specific multiline texts that contain "'r\n" or "\n", `UITextView` in `TextBubbleView`  doesn't display text, for instance adding this text:

`"acon ipsum dolor amet short ribs tri-tip pig, porchetta turkey alcatra shoulder meatloaf tenderloin meatball biltong swine. Rump sirloin beef, landjaeger corned beef venison sausage flank t-bone pork loin prosciutto. Ribeye landjaeger leberkas

[2018-03-12 16:40] AntonPalich commented on #463
@borkuslav I checked this text in the demo app and it works for me. Do you have any other changes in your example?

![simulator screen shot - ipad air 2 - 2018-03-12 at 16 34 49](https://user-images.githubusercontent.com/1708330/37296670-9222433a-2613-11e8-9a4a-a2a719a370b3.png)

[2018-03-12 16:44] borkuslav commented on #463
Oh, sorry, I pasted example containing "\n\n" which works fine, I replaced that in the text above with "\r\n" which doesn't work. Please try again.

[2018-03-12 17:58] allaire commented on #440
@AntonPalich This would be great to be able to show a confirm Action sheet when a user tap an image in the picker. The camera already has the `Use photo` button, but there's no similar confirmation when uploading from the photo library.

[2018-03-12 18:30] AntonPalich commented on #463
@borkuslav Looks like #364 fixes this issue. I will merge it

[2018-03-12 18:42] #463 closed

[2018-03-12 19:07] pngo-hypewell commented on #462
Why the code below not work to me? Thanks

[code]

[2018-03-13 07:03] AYASHI commented on #462
@AntonPalich thank you for your reply, my issue i want to set bubble view text with HTML text , so i have to use attributedText property insted of normal text property, can i do this ?

[2018-03-13 08:52] AntonPalich commented on #462
@AYASHI You can't do this out of the box. You can make your own cell based on existing text message cell to render attributed text. The main difference would be to initialize NSTextStorage inside `TextBubbleLayoutModel` involved in layout calculation with an attributed string instead of text and font. In order to do this, you would need to use attributedText everywhere starting from model up to `T

[2018-03-13 09:09] AntonPalich commented on #462
@pngo-hypewell Looks like it's a bug. As a workaround, you can set `textMessageStyle` initialized with `baseMessageStyle`

[code]

[2018-03-13 22:55] kylebrowning commented on #367
Still happening ^

[2018-03-14 06:32] prattcmp opened #464 "ChatInputBar won't appeal to constraints"
I just want to use the ChatInputBar, but I can't get it to stick properly to the bottom of the screen.

Here's what I do:
[code]

I tried adding my own constraints, but that just breaks things.

[2018-03-14 09:39] AntonPalich commented on #464
@prattcmp You have to override `BaseChatViewController.createChatInputView`. You shouldn't manage a view hierarchy or setup any constraints. It will be done by `BaseChatViewController` for you

[2018-03-14 13:39] prattcmp commented on #464
So I shouldn't use this API if I don't want to use `BaseChatViewController`? I'm using Texture's ASViewController so I dont think I can integrate the two?

[2018-03-14 21:32] Daxito commented on #330
+1

[2018-03-16 20:26] Daxito opened #466 "Bubble Animation Issue"
Hi,
Can you help me with this? I need some clue or guidance, I can't figure out why, after adding an image, the cell gets animated over and over when setting the Progress Value until the Progress Bar is complete.
Take a look at the attached gif image showing the issue, the Demo App works but I don't understand what I am doing different if my code is based on the Demo Code as well.

https://d3hky7e

[2018-03-17 03:06] Daxito commented on #466
Found the cause of this issue (after 13 hrs!)
I have this in my AppDelegate:

    func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions:
    [UIApplicationLaunchOptionsKey: Any]?) -> Bool {

        UITabBar.appearance().isOpaque = true

        return true
    }

I am not sure why it is set like that (I inherited this code), all I know right know is that if I

[2018-03-17 03:06] #466 closed

[2018-03-17 03:20] Daxito commented on #466
Also had to remove this btw

UINavigationBar.appearance().isOpaque = true

[2018-03-27 10:08] xthaohg opened #467 "How to get UIImageView in cell message"
Hi guys, I have problem. I need getting UIImageView in cell of PhotoMessage. Thanks for reading

[2018-03-29 17:46] pngo-hypewell commented on #325
@alexanderkhitev I have the same problem with this, can you tell me how to resolve it ?

[2018-03-30 10:47] alexanderkhitev commented on #325
@pngo-hypewell I solved this problem, here is the code from that project, there were no more memory leaks, after I did this, please see if this will help you.

[code]

[2018-04-03 10:45] baldemir opened #468 "Umbrella header not found error"
I was using Chatto in my ios app without any problem. Today I updated to Xcode 9.3 and I can't build my project anymore. It gives following error: Umbrella header 'ChattoAdditions-umbrella.h' not found. Any idea about how to fix it?

[2018-04-03 20:30] Joelzenaar commented on #468
I had the same problem and I added the header manually in ChattoAdditions frameworks. And it works.

[2018-04-04 12:20] Joelzenaar opened #469 "BaseMessagePresenter"
I get a warning  in 'guard let cell = cell as? CellT else': Cast from 'UICollectionViewCell' to related type 'BaseMessageCollectionViewCell<BubbleViewT>'
in the following code:public final override func configureCell(_ cell: UICollectionViewCell, decorationAttributes: ChatItemDecorationAttributesProtocol?) {
        guard let cell = cell as? CellT else  {
            assert(false, "Invalid cell gi

[2018-04-10 14:07] PiotrSTP opened #471 "Could you make it possible to update chatItemPresenter factory after BaseChatViewController's viewDidLoad?"
I am working on a functionality that would require changing `chatItemPresenter` font after some user interaction on the view controller.

This is completely easy but the chatViewController is only asked to set the `presenterFactory` (ChatItemPresenterFactoryProtocol) once on the `viewDidLoad` execution which means it will not change unless we re-show it completely again.

I tried to access baseCha

[2018-04-13 04:31] Kamaldeep-Singh commented on #17
The chatto examples are so complex with multiple layers of inheritance. Thumbs down to this library.

[2018-04-13 04:57] mohammedelsammak commented on #343
@timothytclee Have you managed to make it?

[2018-04-13 15:18] Daxito commented on #17
Personally, I like the example, it helped me to be up and running in no time.

[2018-04-14 09:14] avinashsomashekar opened #472 "Photos/Videos download and upload progress indicator"
Hi,
It seems this sdk supports only start and completed/failed state for download/upload progress indicator . Can anyone help me how to show users percentage of download/upload indicator while download/uploading is progress?

Thanks

[2018-04-14 10:31] avinashsomashekar opened #473 "Message list Edit mode"
Hi,
Does anyone know how to get messagelist in edit mode?

Avinash

[2018-04-15 02:11] skhavanekar commented on #434
*didn't find

[2018-04-17 13:24] czater opened #474 "How to change duration of bubble animation?"
Is it possible to change the duration of bubble appearing animation?

[2018-04-17 17:39] timothytclee commented on #343
@mohammedelsammak Yes, I did. I ended up building my own ChatInputBar that calls a standard camera/media picker that supports both photo and video capture.

[2018-04-18 07:26] #474 closed

[2018-04-19 12:50] czater opened #475 "How to scroll down after loading the initial messages?"
Right now after loading initial messages, my collection view isn't scrolled down but it is on ~center. How can I set it to be scrolled down just after initial messages were loaded?

[2018-04-21 15:38] alizainprasla commented on #379
@AntonPalich  Additional Closure is not calling in SubclassTextMessagePresenter

[2018-04-30 16:24] nfranke opened #476 "PhotosChatInputItem problem with hardware keyboard"
Using an bluetooth / hardware keyboard in the simulator the PhotosChatInputItem calculates the height incorrectly. It starts out small and keeps shrinking upon each display until it's not even visible anymore.

![simulator screen shot - iphone 7 - 2018-04-30 at 12 23 27](https://user-images.githubusercontent.com/270072/39438222-5593c004-4c71-11e8-9cef-ccd99bb80032.png)

From here, I click on the k

[2018-04-30 20:32] nfranke commented on #472
I was just looking into this. Check the sample code since it does this. Basically your implementation of PhotoMessageViewModel can set:
[code]
Which seems to work for me. I'm using Alamo Fire, so I do:
[code]

[2018-05-04 11:37] psi-gh commented on #431
You have network datasource and need to disable self.autoLoadingEnabled for query? :)

[2018-05-11 03:46] MrShiY opened #479 "How to show username in the item cell ,It only shows avatar now"
Please tell me,Thank you very much

[2018-05-12 20:45] neilabdev commented on #479
+1

[2018-05-14 10:40] boboxiaodd opened #480 "loading message slow"
I very like this repository
in my app, image and text is encryption
when push to ChatViewController, i load message history and decrypt ,
it is slow, How to decrypt at the time of display in ChatViewController?
Thank you!

[2018-05-14 16:04] Daxito commented on #479
I accomplished this by adding a new DecoratedChatItem for every message (see ChatItemsDecoratorProtocol)

[2018-05-15 02:08] MrShiY commented on #479
What you said was to register ChatItemPresenter Cell,  like timeSeparator and messageSendingStatus ok?

[2018-05-15 02:11] boboxiaodd commented on #480
i found the way...

[2018-05-15 02:11] #480 closed

[2018-05-15 12:07] neilabdev commented on #479
Hey MrShiY, as I know it takes a while to even get started, I will do my best to give you an easy example to get you in the right direction.

Basically, in my case I subclassed the *BaseChatViewController* in *ChatAdditions* where the decorator handler via property *decoratorItems* is specified.

[code]
It should be noted that I literally copied my decorator from the Chatto Demo application, as I

[2018-05-17 09:03] MrShiY commented on #479
Very cool, thank neilabdev and Daxito for your help

[2018-05-17 09:03] #479 closed

[2018-05-17 14:36] MrShiY opened #481 "After async downloaded Image ,how to modify imageSize which is get-only property"
imageSize value was only given when 'PhotoMessageModel' was initialized, at this time I didn't know what the imageSize was ,After async downloaded Image ,how to modify imageSize which is get-only property

[2018-05-18 10:31] sv9988 opened #482 "Update avatar follow message"
I create a chatrooms with many user.
How I can create a message with user's avatar corresponding.
Now when I go to room and load older message, I can't not update avatar correct with user.

[2018-05-21 09:30] #481 closed

[2018-05-22 07:31] Magnai1030 opened #484 "Spamming error"
when i sent message like spam to my app from pc, i got error msg in BaseChat ViewController and appdelegate. i tried to interrupt in my received msg  but it didnt work, pls help me

[2018-05-24 05:11] aniliosdev opened #485 "Change Bubble color dynamically"
I want to change Bubble color based on message status like failed(Red), sending(Gray), success(Blue)
And also need to add two more status Read, Unread.

Please help me.

[2018-05-28 08:28] Razdel opened #486 "performBatchUpdates.crash"
Crash from AppStore. Maybe you can help me to understand what happened. I use Text and Photo messages.

[code]

[2018-05-29 16:42] lioneltan commented on #327
Totally agree, the number of classes is insane.

[2018-05-29 19:51] Ogerets opened #487 "Keyboard colors became distorted after 3.3.0 release"
<img width="395" alt="6" src="https://user-images.githubusercontent.com/20406383/40681499-f7adb70a-6391-11e8-97ff-53a5821f2aa5.png">
<img width="443" alt="7" src="https://user-images.githubusercontent.com/20406383/40681818-de30337e-6392-11e8-891a-a38ee94a40d4.png">

[2018-06-01 03:58] jbeguna04 opened #488 "Logo/Icon Proposal"
Greetings, Im a graphics designer here on Github and I would like to ask for your permission to design for your logo/icon that you maybe used for your future plans in your project. I want to help open source projects by designing logos or banners for there project. Thank you for your time reading this

Best regards
-jbeguna04

[2018-06-02 07:23] rohaaa opened #489 "Change TextChatInputItem icon"
I spent a lot of time trying to figure out how to change this icon properly, by trying to override createDefaultButtonAppearance(). If someone had already done so, can you share your solution please? It's really not easy for a beginner. Thanks for your understanding.

[2018-06-05 17:59] albarq commented on #141
I almost tried every thing to add new UIMenuItem ... but without success ... please some try to help us ...

[2018-06-05 18:03] albarq opened #490 "Custom long press pop menu"
Hi,

I almost tried every thing to add new UIMenuItem ... but without success ... please some try to help us ...

        let deleteItem = UIMenuItem(title: "Delete", action: #selector(deleteLine(_:)))

        UIMenuController.shared.menuItems = [deleteItem]
        UIMenuController.shared.update()

I have tried to make  all these func return true
canShowMenu return true
canPerformMenuControllerA

[2018-06-05 18:56] AntonPalich commented on #490
@albarq Please, check this #434

[2018-06-05 20:07] albarq commented on #490
I tried this but no success ... i stacked on number 3.

3. Override func canPerformMenuControllerAction(_ action: Selector) -> Bool in a presenter for a message that should display a new menu item.

f you want to present a new menu item for text or photo messages then you have to subclass TextMessagePresenter or PhotoMessagePresenter.

I tried to sub class TextMessagePresenter but this not working

[2018-06-07 04:59] apwelsh opened #491 "Type 'NSAttributedStringKey' (aka 'NSString') has no member 'font'"
I just added this to a new project, and I receive the error message:

Type 'NSAttributedStringKey' (aka 'NSString') has no member 'font'

My project is an Objective C project, so I created a new Swift class to extend BaseChatViewController, and cannot import ChattoAdditions because the above compile error.  Not sure where to start to address this issue.  Should I be using the master branch instead

[2018-06-07 05:44] apwelsh commented on #491
Okay, so it has to do with my pod install setting up the ChattoAdditions project as a swift3 project.  I modified my Podfile with a post install block to force all pods to swift 4.1 by default, and 3.2 if I place the pod in an array.

[2018-06-08 05:54] apwelsh commented on #146
Any plans to revisit the documentation?  I have been out of the loop on Swift long enough, that just having the code is not enough.  As stated in the OP's original posting, the multiple levels of abstraction are extremely hard to figure out just how all this is strung together.  The Demo project is not enough.  I don't wish to just blindly copy a project, and then refactor it to make it work.  I n

[2018-06-08 06:04] apwelsh commented on #15
I know this is very old, but for the sake of others, I used swift to create the ChatViewController, and exposed the init functions to objective C with the @objc annotation.  Then I used the new init method to call the constructor. from Objective C.  What I expose to Objective C from the ChatViewController is very minimal, and perfect for my needs.

In my ChatViewController.swift file, I use the fo

[2018-06-19 05:53] #491 closed

[2018-06-19 05:55] apwelsh opened #492 "Is there a simple example for creating text messages?"
I am trying to create a new application based on my library.  The demo app is very convoluted and abstract.  Are there any simple concrete examples on creating a messaging app for simple text messages?  No need for avatars, or any other frills.  Just a simple text messaging app.  tying to understand this library at the most basic level.

[2018-06-22 05:43] czater commented on #492
There is a tutorial on Udemy that explain everything very good ;)

[2018-06-22 06:43] apwelsh commented on #492
Which one?  A search for chatto turns up nothing.

[2018-06-22 08:37] czater commented on #492
Build a Powerful iOS Chat App in Swift 3

[2018-06-22 15:52] apwelsh commented on #492
Yeah, that is what I was afraid of.  That course has been taken down, and only available to people that purchased it.  I found that one earlier through a google search.

[2018-06-27 00:32] smiles-p opened #494 "Constraints problem when adding DemoChatViewController as a child view controller"
I am trying to add DemoChatViewController(subclass of BaseChatViewController) into a view as a child view controller:

addChildViewController(child)
child.view.translatesAutoresizingMaskIntoConstraints = false
view.addSubview(child.view)
child.didMove(toParentViewController: self)

view.addConstraints([
            NSLayoutConstraint(item: child.view, attribute: .top, relatedBy: .equal, toItem: vi

[2018-06-27 07:18] apwelsh commented on #451
How did you fix this?  In my app, I remove the TabBar, and the bottom of the Chat View, which was pushed, is still starting at the top of the TabBar, not the bottom of the safe area.  This is driving me crazy.

[2018-06-27 07:23] apwelsh commented on #197
Was this ever confirmed to be fixed?  I see the issue on iPhone 8 and iPhone X.  When I hide the tabor, the chat view does not extend to fill the safe area.

[2018-06-27 17:29] swbrenneis opened #495 "Make outlets in ChatInputBar open"
The class is declared open, but the outlets are not. This means that subclassing is pretty pointless. Making the outlets open would enable quite a bit of selective customization (e.g. keyboard customization on the text view).

[2018-06-29 11:12] rinat-enikeev commented on #472
you can check this [gist](https://gist.github.com/rinat-enikeev/3bd73ab1ac0b0f0591de72781bba165e) to see how to create your view model and download an image with progress indicator.

[2018-07-04 15:14] bhorvinayak opened #496 "Value of type '[String]' has no member 'weekdayAndDateStampDateFormatter'"
extension Date {

    private static let weekdayAndDateStampDateFormatter: DateFormatter = {
        let dateFormatter = DateFormatter()
        dateFormatter.timeZone = TimeZone.autoupdatingCurrent
        dateFormatter.dateFormat = "EEEE, MMM dd yyyy" // "Monday, Mar 7 2016"
        return dateFormatter
    }()

    func toWeekDayAndDateString() -> String {
        return Date.weekdayAndDateStam

[2018-07-10 05:53] saroar opened #498 "Guideline 1.2 - Safety - User Generated Content"
So for the past few days, I've been trying to get my iOS app on the store just been rejected!

The issues they said were there:

Guideline 1.2 - Safety - User Generated Content

Your app enables the display of user-generated content but does not have the proper precautions in place.

Next Steps

To resolve this issue, please revise your app to implement all of the following precautions:

Require t

[2018-07-10 09:16] AntonPalich commented on #498
@saroar **Chatto** supports messages selection. You can use it to implement a feature that allow users to block or report specific messages.

Selection state is controlled by `BaseMessageDecorationAttributes` that is used in messages decoration pipeline in your implementation of `ChatItemsDecoratorProtocol`. You can check `DemoChatItemsDecorator` in the demo project to see example implementation o

[2018-07-10 10:01] saroar commented on #498
how to do accept and reject users into group chat?

[2018-07-10 10:17] AntonPalich commented on #498
@saroar It's up to you. **Chatto** doesn't have such feature.  It's UI framework and It's designed to be extensible and allow developers to add missing functionality.

[2018-07-10 11:42] saroar commented on #498
I download and run app, then i select but cant see this http://prntscr.com/k4pm8s ? why

[2018-07-10 11:44] saroar commented on #498
![img_5931](https://user-images.githubusercontent.com/8770772/42507989-b1dce9d8-844f-11e8-8cec-719ecb27889f.PNG)

[2018-07-10 12:09] AntonPalich commented on #498
@saroar You don't see it because it's not part of the framework and implemented in Badoo app. We replace chat input bar with action toolbar when selection mode is enabled.

[2018-07-10 12:10] saroar commented on #498
:( so difficult for me :( @AntonPalich

[2018-07-10 12:10] saroar commented on #498
how i can do it ?

[2018-07-10 15:24] saroar commented on #498
and how i can add my own data when i select cell
[code]

[2018-07-10 15:25] saroar commented on #498
[code]

[2018-07-11 15:33] saroar commented on #498
hi guys do you have any chatto exm app with real database

[2018-07-13 09:36] saroar commented on #498
@AntonPalich  please can you help me how i can do it please when select i will have the same UI like you send image thanks

[2018-07-14 11:13] saroar opened #499 "Demo App bug"
https://github.com/badoo/Chatto/blob/master/ChattoApp/ChattoApp/Source/Chat%20Items/Base%20Message/BaseMessageHandler.swift#L47

it should be `DemoMessageViewModelProtocol` not `MessageViewModelProtocol`

[2018-07-15 15:17] bhorvinayak opened #500 "Can't access model object data outside the alamofire request scope while populating api data"
import Foundation
 import Chatto
 import ChattoAdditions
 import SwiftyJSON
 import Alamofire

class DemoChatMessageFactory {

public static var chats = [ChatModel]()

class func makeMessage(_ uid:String) -> DemoTextMessageModel{
print("uid makeMessage : \(uid)")
    return self.makeMessageData(uid, isIncoming:false)
}

class func makeMessageData(_ uid: String,isIncoming:Bool) ->
DemoTextMessageMo

[2018-07-19 19:12] martinregas commented on #327
I agree!

[2018-08-03 11:28] czater opened #503 "Is it possible underline text in cell?"
I am trying to underline text in a message as it is for links. How can I achieve it?

[2018-08-06 10:27] vasadulin opened #504 "Compile error: Header 'ChattoAdditions-Swift.h' not found"
I use Chatto and ChattoAdditions successfully in swift project, XCode 9.2. with Cocoa Pods.
I updated Xcode to version 9.4.1.
There was  an errors in automatic generated file "module.modulemap":
Header 'ChattoAdditions-Swift.h' not found.

There is not  'ChattoAdditions-Swift.h' file in repository.
How to fix this error?

![chattoerror](https://user-images.githubusercontent.com/1208018/43711882-e1

[2018-08-06 17:43] AntonPalich commented on #504
@vasadulin I'm pretty sure there is an issue with Swift versions. Can you take a look into this comment? https://github.com/badoo/Chatto/issues/331#issuecomment-351670462 It should help

[2018-08-07 07:56] vasadulin commented on #504
To fix this error:

Increase the version of Swift for the libraries: Chatto and ChattoAdditions.

The main project has swift 3.3 version. But I can use libraries with swift 4.

Steps to fix problem:

- Choose Pods in Project navigator.
- Choose target: ChattoAdditions (Chatto)
- Change Swift Language Version to Swift 4.1
- Rebuild project (Clean & Build)

![chattofix](https://user-images.githubuse

[2018-08-07 08:06] #504 closed

[2018-08-07 11:32] bhorvinayak opened #505 "How to Solved Assertion failed: Invalid cell given to presenter issue"
I populated API data on chat view controller. Not able to receive photo messages. When someone send a photo message then app crash in BaseMessagePresenter's configure cell function.

Error in line no 88 :Assertion failed: Invalid cell given to presenter issue
public final override func configureCell(_ cell: UICollectionViewCell, decorationAttributes: ChatItemDecorationAttributesProtocol?) {

[2018-08-07 11:51] AntonPalich commented on #504
@vasadulin If you do it manually then you need to do it every time you update pods. I suggest you to add a script from the comment above to the end of your podfile.

[2018-08-07 12:00] AntonPalich commented on #505
@bhorvinayak Can you check that message with a specific `uid` never changes it's `type` value? Currently, it's not supported.

[2018-08-07 12:31] bhorvinayak commented on #505
@AntonPalich Yes I checked uid is a string type but still getting crash.

[2018-08-07 12:37] bhorvinayak commented on #505
@AntonPalich  and also getting warning Cast from 'UICollectionViewCell' to unrelated type 'BaseMessageCollectionViewCell<BubbleViewT>' always fails on assigning cell as cellT type

      guard let cell1 = cell as? CellT else {
            assert(false, "Invalid cell given to presenter")
            return
    }

[2018-08-07 12:47] bhorvinayak commented on #505
@AntonPalich dynamic API text messages working fine but populating images create an issue.
Otherwise it works Great and awesome, responsive.

[2018-08-07 12:53] AntonPalich commented on #505
@bhorvinayak Could you post a full stack trace when assertion happens and your `createPresenterBuilders` function implementation? Also, check that all messages `uid` are unique.

[2018-08-07 13:17] bhorvinayak commented on #505
![screen shot 2018-08-07 at 6 38 01 pm](https://user-images.githubusercontent.com/32053183/43777724-4a55e21e-9a71-11e8-9ab4-11345b5b8e9c.png)

I never change anything from the createPresenter function also related class. Actually, I populated two images like stickers for 7-8 times. That's not unique. Is that reason behind crashing?

[2018-08-07 15:02] bkrijgsman opened #506 "Examples Custom InputBar"
Are there any example available with custom input bars?

[2018-08-09 12:39] dauletkali commented on #434
@seidju , hi! Can you share your code? I tried a lot of ways but still unsuccessful (

[2018-08-13 01:17] gavinong23 opened #507 "Why the TimeSeparatorPresenter file is the same with the TimeSeparatorPresenterBuilder file?"
please help, thanks.

[2018-08-13 01:23] #507 closed, assigned to nobody

[2018-08-13 10:35] suvarnajayanth opened #508 "On tap can we zoom the image in chat."
I have done sending images in chat but, I dont know how to make the image fullscreen and zoom the images in chats.

[2018-08-13 19:45] Daxito commented on #508
You need to implement that logic on the "userDidTapOnBubble",  located in the BaseMessageHandler class.
You can use any other Pod for image visualization, I use https://github.com/JanGorman/Agrume for this.

[2018-08-14 05:47] suvarnajayanth commented on #508
Thanks.

[2018-08-14 07:06] seamusapple commented on #26
@ogezue
Hi, ogezue.
Do you have a demo to show how to add buttons in your custom cell and in which file to handle the touchUpInside event?
I have the similar requirement.
Thanks very much.

[2018-08-16 09:01] seamusapple opened #509 "Custom BubbleView Position in Cell"
Hi, Im creating a custom bubbleView inside a cell. But currently the position of the bubbleView in the cell is weird. I tried to debug it, but not fix it yet. Pleas help me, Thanks.
![image](https://user-images.githubusercontent.com/17289780/44197927-a9af9400-a172-11e8-8654-c936cbb38942.png)
There are two issues.
- The userAvatar is above the bubble.
- The outcoming message is exceed the edge of t

[2018-08-17 04:42] suvarnajayanth commented on #508
Hi Daxito, I am getting error in perform batch updates (self.collectionView.performBatchUpdates) in BaseChatViewController.

[2018-08-17 20:37] Daxito commented on #508
Did not have to mess with that for me to work, maybe check with the owner of the repo.

[2018-08-20 13:03] suvarnajayanth opened #510 "How to add timestamp to sent and received message like watsapp in Chatto."
I am working on chat application. I don't know how to put time stamp for sent and received text or image like whatsapp.

[2018-08-22 08:01] saroar opened #511 "'weak' should not be applied to a property declaration in a protocol and will be disallowed in future versions"
I am using swiftlint for code quality
http://prntscr.com/klisf8

should i remove it or not please let me know thanks

[2018-08-24 04:19] gavinong23 opened #512 "Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value"
`
    lazy private var baseMessageHandler: BaseMessageHandler = {
        return BaseMessageHandler(messageSender: self.messageSender, messagesSelector: self.messagesSelector)
    }()`

why i get Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value... Although i follow all the sample code.

[2018-08-27 06:15] gavinong23 opened #513 "Custom CollectionView chat Log Cell"
<img width="296" alt="screen shot 2018-08-27 at 2 14 40 pm" src="https://user-images.githubusercontent.com/22832699/44643578-95d22080-aa03-11e8-9af4-26e9cb31af5e.png">

hi, anyone can help me with the custom collection view cell's cell sizing?

[2018-08-27 08:21] #512 closed, assigned to nobody

[2018-09-06 16:56] patniemeyer commented on #462
Is there a reason that ChattoAdditions did not simply go with NSAttriubutedString  for everything in this way?  It seems like both a desirable feature and a slight simplification to the API...  Was there a concern that the background layout with NSTextStorage would not work accurately or would not perform well enough?  I'm wondering if it's worth going down this road.  Thanks.

[2018-09-11 10:40] rinat-enikeev commented on #494
@smiles-p same issue for me. Have you managed to fix it?

[2018-09-12 09:14] Ogerets opened #514 "iPhone X input bar selecting bug"
Steps to reproduce in sample ChattoApp
* Select photo input item from input bar
* Select text input item from input bar
* Got bug demonstrated on screenshot. Input bar shifted. No way to send messages anymore.

![simulator screen shot - iphone x - 2018-09-12 at 12 09 06](https://user-images.githubusercontent.com/20406383/45414788-d331e180-b684-11e8-83e7-984c6aac625e.png)

[2018-09-13 10:17] AntonPalich commented on #514
Hey, @Ogerets Can you provide your environment and Chatto version? Looks of for me. Checked on the latest master on iPhoneX 11.4 simulator in Xcode 9.4.1

[2018-09-18 16:02] dastan28 opened #516 "Update for Xcode 10 and Swift 4.2"
Hi!
Any plans to update libraries for Xcode 10 and Swift 4.2?

[2018-09-21 12:59] Ogerets commented on #487
The reason was new UIView under the transparent keyboard. So changing color of that view fixed colors. But I wondering why this view was added? The transparent keyboard is a cool feature. E.g. User can see blurred messeges through it while scrolling.

[2018-09-21 12:59] #487 closed

[2018-09-23 14:57] Daxito commented on #516
+1

[2018-09-24 02:15] gdelarosa commented on #514
I am experiencing the same bug as well. Selecting the keyboard or photo icon will display okay the first time but selecting a second time will produce the issue. Using Xcode 9.4.1. and iPhone X iOS 11.4

[2018-09-24 17:54] TheRebelMan commented on #516
+2

[2018-09-25 09:19] ahmedAlmasri commented on #25
@theprojectabot  i have same issue how to solve this error ?

[2018-09-26 15:18] rohaaa commented on #516
+100500

[2018-09-27 07:44] AntonPalich commented on #516
Yes guys, we have a plane to add support for Xcode 10 and Swift 4.2. I hope we will do it in the next week.

[2018-09-27 15:25] radekcep opened #518 "Crash in BaseMessageCollectionViewCell"
Line 273 - `let layoutConstants = baseStyle.layoutConstants(viewModel: messageViewModel)`
`baseStyle` seems to be `nil`

[2018-09-28 23:11] JockerGG opened #519 "Cannot change bubble color"
I'm trying to change the background of bubble messages.

I declared a variable `chatColors` of the next:
`let chatColors = BaseMessageCollectionViewCellDefaultStyle.Colors(
        incoming: UIColor(hex: 0x29283F),
        outgoing: UIColor(hex: 0x575767)
    )`

and i'm using `super.init()` in the _BaseMessageCollectionViewCellAvatarStyle_

`super.init(colors: chatColors,
                   bubbl

[2018-10-01 08:26] #518 closed, assigned to nobody

[2018-10-02 19:46] #519 closed

[2018-10-03 05:25] nehatyagi18 opened #520 "Constraint issue in iphone x"
![simulator screen shot - iphone xs - 2018-10-03 at 10 14 45](https://user-images.githubusercontent.com/43131293/46390428-647cfc80-c6f5-11e8-89cf-cc42def287c0.png)
I am facing this issue in iphone x and iphone xs just because of NSLayoutConstraint

[2018-10-04 16:40] Ogerets commented on #514
![2](https://user-images.githubusercontent.com/20406383/46489093-338feb00-c80d-11e8-886a-9358b004575f.jpg)

I'm able to reproduce bug even in badoo app

[2018-10-05 12:32] AntonPalich commented on #520
@nehatyagi18 You can change color of `BaseChatViewController.bottomSpaceView` that should fill bottom safe area. By default, it's has white color. Don't know what happened in your case. Can you check your view hierarchy?

[2018-10-05 12:46] nehatyagi18 commented on #520
bottomSpaceView not found in BaseChatViewController. Please check screenshot. This is issue of collectionView. It should not be down to textview. I am using 3.1.0 version of chatto.

[2018-10-05 12:49] Ogerets commented on #520
@nehatyagi18 You use 2 years old version of library and reporting an issue on it, am I right? Are you serious?

[2018-10-05 12:56] nehatyagi18 commented on #520
Yeah!! i know that i am using older version. Now i am asking if i will update to latest version of chatto than this issue will not come.

[2018-10-05 16:04] dloic commented on #514
Seeing same issue on my side. Could this be related to https://forums.developer.apple.com/thread/108775? I'm seeing different values for UIKeyboardFrameEndUserInfoKey.

[2018-10-06 19:50] AntonPalich commented on #514
Seems like an iOS 12 issue. Here is an example: https://github.com/AntonPalich/KeyboardIssueExample
I've reported it to Apple. I'll try to find a workaround.

[2018-10-06 20:00] Ogerets commented on #514
@AntonPalich Me and *gdelarosa* just said above that we experienced this issue on iOS 11.4. So it's not an iOS 12 issue.

[2018-10-06 20:27] AntonPalich commented on #514
@Ogerets I've tried on different simulators (iPhone 8, 8 Plus, X) on iOS 11.4 but was never able to reproduce the issue. Maybe, I was extremely lucky. If you check out an example project you will see that this issue is reproducible on iOS 12 only, but not on iOS 11.4.

Could you, please, help me to understand what am I doing wrong? Can you record a video or provide steps to reproduce? I've tried w

[2018-10-06 20:49] Ogerets commented on #514
@AntonPalich I've just checked and can confirm that issue no longer reproducable on iOS 11.4. Only iOS 12. Is it some sort of weird Apple magic after updates? Sorry for disturbing, just wanted help you.

[2018-10-07 14:35] AntonPalich commented on #520
@nehatyagi18 Could you, please, update to the latest version where this issue is already fixed?

[2018-10-07 14:35] #520 closed

[2018-10-08 08:52] OneSman7 commented on #516
Any updates on the timeframe for Swift 4.2 support?

[2018-10-08 09:16] AntonPalich commented on #516
@OneSman7 I'll push swift_4.2 branch tonight

[2018-10-08 17:45] AntonPalich commented on #516
`swift_4.2` branch is here. You can check changes in #521 PR. Let me know if something is wrong. This branch won't be merged into master and won't have a version for a while until Badoo migrate to Swift 4.2 and Xcode 10 but you can use it if you already migrated.

[2018-10-09 05:51] abdulbasit18 commented on #509
hi can you share the code or details how you are able embed custom view in Bubble, I want to implement the same thing
Thanks

[2018-10-12 06:21] JockerGG opened #522 "Incoming image not loaded."
I have a problem with incoming image, this image is not loaded, the outgoing image works correctly.

The question is what i'm doing wrong?

Somebody can help me please.

i attach the image to show the problem.

![image](https://user-images.githubusercontent.com/6700974/46851243-7d07a980-cdbc-11e8-8bc2-1f7f5e16af35.png)

[2018-10-12 20:07] #522 closed

[2018-10-13 12:53] Xopoko commented on #437
Same question. Has anyone already been able to fix it? The issue has been open since February 6.

[2018-10-15 08:11] xakacuk commented on #516
i use:
  pod 'Chatto', :git => 'https://github.com/badoo/Chatto', :branch => 'master'
  pod 'ChattoAdditions', :git => 'https://github.com/badoo/Chatto', :branch => 'master'
and i have many errors

[2018-10-15 09:29] AntonPalich commented on #516
@xakacuk You should use `swift_4.2` branch

[code]

[2018-10-15 10:09] spacedema commented on #437
Have the same issue. Any workaround?

[2018-10-16 04:20] shungz89 opened #523 "Why ViewModel has no access to presenter? How can I access to individual label?"
This is ridiculous, I have spent TWO WEEKS because I'm stuck with this framework of not being able to customize many component. Such as DYNAMICALLY changing the textmessagebubble based on whether the incoming message belongs to certain parties.

Why do you make such framework which is so hard to access individual component?
If is so, then why can't you make simple stuff like that customizable?

Ev

[2018-10-16 11:31] AntonPalich commented on #523
@shungz89 Imagine, that incoming messages from one party should have blue bubble and borders, incoming messages from the second party should have red bubble and no borders and incoming messages from the third party one shouldn't have bubble and borders at all. Instead of trying to use the same type of message to display messages from certain parties you can try to use different type of messages fo

[2018-10-16 13:16] shungz89 commented on #523
Okay, is a good idea on the creating two items type, but how do you create two types of item?

For my requirements, I would need to access individual message label because I need to change it into html attributed text. Without access to the UILabel it is not easily doable.

[2018-10-16 13:44] AntonPalich commented on #523
@shungz89

Imagine you have a model class in your project that represents a message. It must confirm to the most basic `ChatItemProtocol` that defines a `type` variable. So, value of this property defines a type of the message. This value can be dynamic and depend on other properties of you message. For example:

[code]

After that you can register two different presenter builders for `Message.one

[2018-10-17 08:23] shungz89 opened #524 "Photo/Image Issue: Photos capture from Camera by Chatto is rotated, also photos that are added into Message Bubble size is not the same as photos that are added through Photo Input. One is SQUARE the other is RECTANGLE"
I'm not sure why the image capture by the camera is rotated after the message is being refreshed.

Furthermore, whenever I make a photo message comparing to loading it in datasource the size of photo bubble is different. why so?

[2018-10-20 10:30] shungz89 commented on #467
Yup I was also trying to access UIImageView so that I don't have to download every single image.
But sadly they do not have DIRECT access.

[2018-10-20 13:55] #523 closed

[2018-10-23 23:35] shungz89 opened #525 "Maximum of TextInputBar Height cannot be set"
The current max height for textinputbar cannot be set, causing it to cover the whole Chat ViewController. I have tried accessing the frame.height but however the view is set to "get only" properties.

[2018-10-24 07:41] dmi3j opened #526 "Issues with collectionView:cellForItemAtIndexPath"
We received a fatal exception in Fabric

with stack trace

Call for **collectionView:cellForItemAtIndexPath** seem to be in Chatto only. Is there something you may fix?

Switf 4.2 (Swift 4.0 for Chatto via cocospods), Xcode 10.0 (10A255)

[2018-10-26 07:54] vpadmnabh opened #527 "Issue with focus on ChattoViewController Start"
Hi,
I am preloading my data in Another ViewController and on display of ChattoViewController my array is already ready.
When i open chats from starting are visible in the viewcontroller and i have to scroll down each time at bottom manually.
I call `self.delegate?.chatDataSourceDidUpdate(self, updateType: .normal)` at the end of preload.
If I try to change focus in ViewDidAppear the scroll to bott

[2018-10-29 06:37] amedakedo commented on #514
I believe this is an iOS bug. (Tested on iOS 12)
It only happens on iPhone X, XS, XS Max, and XR (bezel-less iPhones).
The layout for the system-keyboard on these devices is different, as the dictation and globe (keyboard switcher) buttons are below the space-bar row of the keyboard.

The default behavior for when you switch the inputView on a textView is for the custom inputView to have the same

[2018-10-31 16:01] toso123 opened #529 "How to setup, or how to send Avatar Image from url ?"
I have issues, sending the avatar image into the MessageViewModel.
I have followed the demo example

 public func createViewModel(_ textMessage: DemoTextMessageModel) -> DemoTextMessageViewModel {
    let messageViewModel = self.messageViewModelBuilder.createMessageViewModel(textMessage)
    let textMessageViewModel = DemoTextMessageViewModel(textMessage: textMessage, messageViewModel: messageView

[2018-11-01 13:32] dmi3j commented on #526
Apparently issue is not related to Chatto.

[2018-11-01 13:32] #526 closed

[2018-11-02 15:17] AntonPalich commented on #514
@amedakedo Thank you for such great help! I've fixed the issue in #530

[2018-11-03 08:32] amedakedo commented on #514
@AntonPalich sure No problem 👍

[2018-11-08 22:50] nfranke commented on #420
I've noticed the same problem in iOS 12. Scrolling the window seems to help.

[2018-11-13 10:05] #514 closed

[2018-11-19 12:24] chetan-yg opened #532 "How to add Send button in keyboard?"
Currently when KeyBoard is shown, to send message need to close the keyboard then send. Is there any quick option to send the message without closing the KeyBoard?. Or at least replace 'return' button with send?

![screen shot 2018-11-19 at 5 55 16 pm](https://user-images.githubusercontent.com/16645590/48707082-4ecf8200-ec24-11e8-982b-4241fa2456f3.png)

[2018-11-19 19:05] saroar commented on #516
@AntonPalich can i use same
[code]

[2018-11-21 14:35] MarcoFiletti commented on #476
Hi, I just submitted pull request #533, which should fix this issue

[2018-11-22 07:55] chihung93 opened #534 "Chat Additions /UIKit.UIApplication:5:20: 'shared' has been explicitly marked unavailable here"
Swift : 4.2
Xcode: Version 10.1 (10B61)
I can't run project because of this error on branch swift 4.2.
Thanks.
Chat Additions /UIKit.UIApplication:5:20: 'shared' has been explicitly marked unavailable here
<img width="775" alt="screen shot 2018-11-22 at 2 54 00 pm" src="https://user-images.githubusercontent.com/5199109/48888835-7d3c9f80-ee66-11e8-8271-c48333f09a9b.png">

[2018-11-22 10:43] AntonPalich commented on #534
@chihung93 Is there any chance that you enabled `APPLICATION_EXTENSION_API_ONLY` for your pods?

[2018-11-22 13:12] AntonPalich commented on #534
@chihung93 This error only appears if you set `APPLICATION_EXTENSION_API_ONLY` ("Requires Only App-Extension-Safe API") to `Yes` for ChattoAdditions target in your pod's project. By default, this setting is set to `No`. That's why Chatto compiles for most projects (including demo app).

[2018-11-22 18:31] chihung93 commented on #534
@AntonPalich
I put APPLICATION_EXTENSION_API_ONLY = "No" in my pod, it's work now, but when launching app I got this error.

dyld: Library not loaded: @rpath/Chatto.framework/Chatto
  Referenced from: /Users/me/Library/Developer/Xcode/DerivedData/myapp-bxhrrldpdjcmeyeovfimfunsjpmo/Build/Products/Debug-iphonesimulator/chat.framework/chat
  Reason: image not found

Thank you so much.

[2018-11-23 07:56] saroar opened #535 "keyboard UI bug"
Hello do you know why i have big gap here http://prntscr.com/llx02c and how to solve it thanks

[2018-11-23 10:38] AntonPalich commented on #534
@chihung93 Do you have App Extension target in your app? If you have it, do you need Chatto in your App Extension? If no, please, configure your Podfile to not include Chatto in App Extension.

[2018-11-23 10:50] AntonPalich commented on #535
@saroar Could you provide more information: Chatt version, iOS version, simulator. Could you also take a screenshot of a view debugger with this bug?

[2018-11-27 02:49] Daxito commented on #437
+1

[2018-11-29 11:32] saroar commented on #535
Chatto version
[code]
 iOS version 12.1
simulator Version 10.1 (SimulatorApp-877 CoreSimulator-581.2)

view debugger with this bug: cant see any bug :(

[2018-11-29 11:35] saroar commented on #535
what i can do share with you my VC @AntonPalich
https://gist.github.com/saroar/4248ae140baaa6bd3e4868aa38483050

[2018-11-29 11:47] saroar commented on #535
https://streamable.com/lzdwa Make little video

[2018-12-03 07:38] dangnguyenvu8893 opened #537 "Custom Chat Input Bar - Weird Keyboard Height."
Hello sir,
Thank you very much for your lib.
in my case, i custom Chat Input Bar With Custom View.
![screen shot 2018-12-03 at 2 38 17 pm](https://user-images.githubusercontent.com/13247811/49359543-1bebba80-f709-11e8-95da-9843cbdf02f9.png)
But i have some weird bug when open keyboard, and enter multiline in textview. See in this video.
https://streamable.com/b0nts

Im using Chatto vs Chatto Addit

[2018-12-06 10:55] dangnguyenvu8893 commented on #537
Sorry, i am using IQKeyboardManager but forgot disable for chat screen.

[2018-12-06 10:55] #537 closed

[2018-12-06 10:58] dangnguyenvu8893 commented on #535
@saroar : are u using IQKeyboardManager?,
i met this issue like this: https://streamable.com/b0nts
after disable IQKeyboardManager, all working normaly.

[2018-12-11 10:10] EddieLukeAtmey opened #539 "How do I make autosizing custom cell?"
I've followed the tutorial and guideline and stuff, finally managed to create a chatVC with my custom cell. However, there's this autosizing issue where I don't know how to make it work.

Setup:

[code]
Where `ChatMessageModel` & `ChatMsgPresenterBuilder` is my custom model & builder. Typpically, I don't want to inherit or import the `ChattoAdditions`, so I built my own text message cell, and it w

[2018-12-11 11:45] AntonPalich commented on #516
Branch is in master

[2018-12-11 11:45] #516 closed

[2018-12-16 03:37] Daxito opened #540 "Move the tail to the top section of the bubble"
Hi,
I need to move the tail from the bottom to the top of the bubble (boss requirement, not mine) see image below, I want to place the tail where the Red Line is, what is the best approach? I already tried to just replace the assets images but for some reason it messes the dimensions of the image and everything looks out of place, any clues that can provide would help a lot. Thanks

![image](https

[2018-12-21 08:17] maxkonovalov opened #541 "Cocoapods & Xcode 10 / swift 4.2 support"
According to #516, swift 4.2 branch is in master, but Cocoapods version is still **3.3.1** - any plans to update the podspecs and push a new tag?

[2019-01-06 05:40] #513 closed

[2019-01-19 03:05] alex-vasenin commented on #327
Totally agree! 20+ files in example - that's insane!

[2019-01-24 14:40] Denismih commented on #343
@timothytclee Could you please share the cod

[2019-02-05 16:07] dfaizmaulana opened #547 "Refresh input bar"
Hi,
I wanted to have multiple input items which is enable to select depend on the last message received. Currently i manage to observe last message then force it to refresh using ```super.viewDidLoad()```, the problem is the input bar will be duplicated.
So is it possible to make ```inputView``` refresh with new ```createChatInputView```?
I'm pretty new for swift so i'm really appreciate any direc

[2019-02-05 20:34] AntonPalich commented on #547
@dfaizmaulana You have access to `BaseChatViewController.inputBarContainer` and you can manage it directly. `createChatInputView` it's just a convenient function to provide your own input bar that is put into `inputBarContainer`.

Current `BasicChatInputBarPresenter` implementation don't allow to dynamically change input items. So, when you need to replace input bar you can remove subviews from `i

[2019-02-07 15:58] mingsai commented on #539
I haven't given this much thought, just off the top of my head. Could modeling something like the estimated size behavior of UITableView/UICollectionView serve as a method of handling the resizing issue? Is there a corresponding set of behaviors in this library? Other than that I'd try putting together a custom cell that leverages auto layout.

[2019-02-12 01:56] freedbrt opened #550 "Collection View doesn't respect safe area, and resize bug"
Hi.
I found some bug, it is present in ChattoApp, in any view controller.

1. Just run ChattoApp in iPhone XR (any iOS version), and rotate device once. It looks like, base chat view controller, and input doesn't respect safe area?
<img width="746" alt="image" src="https://user-images.githubusercontent.com/7510778/52605263-120bd380-2e7f-11e9-8dac-626545a01bdd.png">

2. Rotate second time. It seems

[2019-02-27 04:42] onato opened #554 "Implement a chat input bar item that presents a view controller."
I tried to work out how to create a chat input bar item that presents a view controller but couldn't see an easy way to do it. I had to make a few things in `BasicChatInputBarPresenter` open and override the `onDidReceiveFocusOnItem` method.

I'll send a pull request. Please let me know if there is another way to do this.

[2019-03-06 19:11] ARGAMX commented on #298
Does anybody solved that problem?

[2019-03-11 11:54] tomtharakan opened #557 "How to make sticky Time Separator"

[2019-03-26 05:13] shungz89 opened #561 "How to change Send Button to Enabled in ChatInputBar?"
I have followed this example to create my customized xib
https://github.com/badoo/Chatto/issues/148

However the SendButton is still link to ChatInputBar, and in the class I noticed that to updateSendButton is actually fileprivate

fileprivate func updateSendButton() {
        self.sendButton.isEnabled = self.shouldEnableSendButton(self)
    }

How to I edit the sendButton to change to Enabled man

[2019-03-26 09:10] shungz89 commented on #561
P/S: I need to make it always enabled, but because of such logic that is originally in the ChatInputBar, I am not able to do anything about it.

[2019-03-30 08:46] azarovalex opened #562 "Demo App Crash"
"Dynamically change item type" example in ChattoApp crashes if you're sending more than one message.

Xcode: 10.2
![image](https://user-images.githubusercontent.com/1976216/55273817-63620c00-52e1-11e9-829c-425fc70caa82.png)

[2019-04-01 11:39] dheerajjha commented on #541
for the mean time you can replace your lines

pod 'Chatto', '= 3.3.1'
pod 'ChattoAdditions', '= 3.3.1' # if you want to use the cells or the input component

by

pod 'Chatto', :git => 'https://github.com/badoo/Chatto.git', :branch => 'master'
pod 'ChattoAdditions', :git => 'https://github.com/badoo/Chatto.git', :branch => 'master'

this will take the latest pull from master and no issue will be sh

[2019-04-01 11:39] dheerajjha commented on #541
for the mean time you can replace your lines

pod 'Chatto', '= 3.3.1'
pod 'ChattoAdditions', '= 3.3.1' # if you want to use the cells or the input component

by

pod 'Chatto', :git => 'https://github.com/badoo/Chatto.git', :branch => 'master'
pod 'ChattoAdditions', :git => 'https://github.com/badoo/Chatto.git', :branch => 'master'

this will take the latest pull from master and no issue will be sh

[2019-04-01 11:45] maxkonovalov commented on #541
@dheerajjha thanks for your suggestion, but, unfortunately, I can't, because I use Chatto as a dependency in my own private podspec, and cocoapods does not allow to specify branches/commits explicitly for pod dependencies.

[2019-04-01 12:12] hvnwnd opened #563 "How to deactivate scrolling of messages that shows time label ?"
In the demo app, when I scroll a message to left, a time label of the message is displayed, is there a way to deactivate this feature ?
Thanks.

[2019-04-01 12:21] hvnwnd commented on #563
Just found the solution :
Switch accessoryViewRevealerIsEnabled off in BaseChatViewController

[2019-04-01 12:21] #563 closed

[2019-04-01 13:20] pavelsmelovsky opened #564 "Swift 5"
Hi there!

Are you planning to upgrade project to Swift 5?

[2019-04-07 05:01] diadempro commented on #141
Has anyone answered this?  This is ridiculous that the makers of Chatto have not made a clear example of how to add a popup context menu for long press.  Most chat applications have the opportunity to delete an item... why is this not shown as a standard example?

[2019-04-11 19:56] PoeticPete commented on #564
It looks like master is upgraded to Swift 5. Use

in your Podfile for now.

[2019-04-12 11:31] albarq opened #571 "Chaning Bubble colors on fly"
Hi

I am using  dark/day mode at my app ...   but chat bubbles remain same colors ... it will be affected only if I closed app and reopened again ...

can you help me please?

[2019-04-12 14:38] pavelsmelovsky commented on #564
@PoeticPete In Podfile and .swift-version files I see version 4.2.

[2019-04-15 16:40] #571 closed

[2019-04-23 18:24] tapparello commented on #550
I have been having the same issue on different iPhone models running iOS 12 (for some reason the layout not updating after rotation doesn't happen on iPads).

I solved the safe area constraints by modifying the safe area the constraints of the collectionView within the method addCollectionView() of BaseChatViewController.swift as follow:

[code]

Similarly, update the constraints for the inputBarC

[2019-04-24 13:51] StevenWatremez commented on #541
@maxkonovalov new release `3.4.0` is here. This release is ready for Xcode 10 and Swift 4.2.

[2019-04-24 14:00] #541 closed

[2019-05-22 14:58] Mathbl opened #577 "NSLayoutConstraint error when using expandable input and switching input"
Reproducible with the demo app, using the "Chat with expandable input" example.

**Steps to reproduce:**
1. Press the keyboard chat input icon.
2. Press the camera chat input icon.

The console will show the following error:
[code]

[2019-06-06 14:41] BabyAzerty commented on #539
It would be nice if Chatto could support:

    func heightForCell(maximumWidth width: CGFloat, decorationAttributes:
 ChatItemDecorationAttributesProtocol?) -> CGFloat {
        return UITableView.automaticDimension
    }

So that it leaves the cells to auto-layout handling the resizing.

[2019-06-10 07:48] anton-manchenko opened #581 "I have a problem with chat messages shaking, I guess"
I made custom message type for attributed text. Message type based on Your text message. Difference is only in field with text (for your message it's text, for my type - attributed text).
I got interesting bug.
When i add new messages - sometimes chat don't whant to scroll them. I found out that chat do some kind of shacking of messages.
Did anybody got same problems?
ThanX

[2019-06-10 16:47] wangjiejacques opened #582 "potential memory leak because of _chatDataSource not weak."
why not make the `_chatDataSource` weak like the `UITableView#dataSource`?

[2019-06-18 14:33] GurdevSingh94 opened #583 "How to add InputBarAccessoryView"
How can i implement this framework to work with my chat app?

[2019-06-29 15:45] GurdevSingh94 commented on #583
?? anyone

[2019-07-09 06:14] seidju commented on #437
Hi everyone! Any updates on this issue. I tried on latest release, using `scrollToItem(withId: uid)`, but still no effect. In this function - property `            let isScrollingUp = rect.minY < collectionView.contentOffset.y
`

[2019-07-09 10:04] AntonPalich commented on #437
@seidju I just checked the demo app. I modified `handleTapOnScrollToBottomButton` function to scroll to the first item when you tap "Scroll to bottom" button on "Scroll To Bottom Button Example"  screen. It worked for me.

[code]

Having `isScrollingUp == false` doesn't mean that it doesn't work. Your item can be visible on a  screen, or you have not enough items to make a scroll action. Could you

[2019-07-15 12:12] seidju commented on #437
@AntonPalich Yep, I just checked it again and it was my stupid mistake (used wrong `uid`). Everything works great, as expected.  Sorry for that )
Closing this issue!

[2019-07-15 12:12] #437 closed

[2019-07-24 10:22] saroar opened #593 "Cannot assign value of type '(UIImage) -> ()?' to type '((UIImage, PhotosInputViewPhotoSource) -> Void)?'"
[code]
after update pod getting this error

pod version

Installing Chatto 3.4.0 (was 3.3.1)
Installing ChattoAdditions 3.4.0 (was 3.3.1)
thanks

[2019-07-24 11:41] AntonPalich commented on #593
This closure now has a second parameter of type `PhotosInputViewPhotoSource`. You need to specify it in a closure decaration

[code]

[2019-07-24 11:50] #593 closed

[2019-08-01 06:43] zidonJ opened #598 "When do you support swift5?"

[2019-08-01 12:08] vovander commented on #598
+ wait for support swift 5 only your library in cocoapods :)

[2019-08-07 06:10] jensonjohn001 commented on #373
How to disable swipe action? I don't need to show the time view.

[2019-08-16 00:47] 101airborne commented on #508
I have created a zoomViewController to display a photo message's image in a full screen view.  The problem is that I have not been able to determine the viewController from which to segue() or pushViewController() to the zoomViewController.  I have implemented in DemoPhotoMessageHandler.swift:
[code]
My photo message chat is based on the ChattoApp photo message classes.

A previous comment by Daxi

[2019-08-22 14:46] OxyFlax commented on #512
Could you please tell us how you managed to fix this issue?

[2019-08-23 15:12] 101airborne commented on #508
I was able to solve the problem by defining an AppDelegate chatViewController property, and then used it to pass the photo to chatViewController `prepare(for segue:)`:

[code]

[2019-08-29 17:15] 101airborne opened #601 "Has anyone created a Chatto PDF Message type?"
I am developing an iOS healthcare related messaging app that, so far, has text and photo message types.  I would like to add support for PDF (and/or other file kinds) message types.

The App is built using Chatto and Chatto Additions.

I have implemented 1-on-1 and Group Messaging with Text and Photo message types.  The App also utilizes end-to-end encryption via Virgil Security's E3Kit.

I would

[2019-09-16 22:39] fgulan opened #610 "Photo message gets reset on each dataset change"
In `release-3.5.0` branch there is a somehow weird behavior with photo messages (maybe with text as well but it is not noticeable). Each time data source items are updated and update is triggered, it will always create new view model for cell/model and it will cause the cell to reload.

You can examine this behavior on `Overview` example, scroll to photo message and try sending a text message, whe

[2019-09-19 08:48] Rouix commented on #610
Same for me. Any update of data source caused re-creation all of presenters & viewModels

in

`            if let oldChatItemCompanion = oldItems[decoratedChatItem.uid], oldChatItemCompanion.chatItem === chatItem {
                presenter = oldChatItemCompanion.presenter
            } else {
                presenter = self.createPresenterForChatItem(decoratedChatItem.chatItem)
            }
`

[2019-09-19 12:29] AntonPalich commented on #610
@fgulan @Rouix Since the beginning, message presenters were reused only for the same instance of an item. We've added an ability to control that behaviour by changing `isItemUpdateSupported` in a message presenter. If it's set to `true` then presenter will be reused for an item with the same identifier.

@fgulan If you decide to keep an existing view model make sure that it's updated when you upda

[2019-09-23 04:42] fgulan commented on #610
Thanks @AntonPalich!

[2019-09-23 04:42] #610 closed

[2019-09-24 10:17] luckychris opened #611 "Tutorial baseChat with little mistake"
private func createPhotoInputItem() -> PhotosChatInputItem {
    let item = PhotosChatInputItem(presentingController: self)
    item.photoInputHandler = { [weak self] image in
      // Your handling logic
    }
    return item
}

-> should be

private func createPhotoInputItem() -> PhotosChatInputItem {
    let item = PhotosChatInputItem(presentingController: self)
    item.photoInputHandler = { [

[2019-09-25 18:22] wiruzx commented on #598
The `3.5.0` version with the support of Swift 5 just been released!

[2019-09-25 18:22] #598 closed

[2019-09-30 16:25] psi-gh commented on #601
You can just add your custom message type like photoCell. Define your bubble, message model, view model, presenter etc. There is no difference with other message types.

[2019-09-30 18:42] 101airborne commented on #601
Thanks Pavel.  I knew that I can probably use the Chatto Additions Photo message classes to develop a Files message classes.  I would also need to develop file picker classes for selecting PDFs or other files for message content.  I was hoping to avoid all of that if someone else has done it.

[2019-10-02 00:33] phatmann opened #613 "ChattoAdditions causes resource name collisions in Xcode 11"
Because the ChattoAdditions Podspec file is using the `resources` attribute instead of the `resource_bundles` attribute, an "Assets.car" file is generated that conflicts with the one generated by the host target when using static Pod libraries. You need to change over to `resource_bundles`, which is recommended anyway. From the docs:

[2019-10-02 16:04] psi-gh opened #614 "Visual bugs when changing many item's heights"
When updating heights of multiple items, I've got a visual bug - flickering effect with new (updated) items are flowing up from the bottom of collection and moving to some top position beyond the screen.
I attached video when you can see it if you will look frame-by-frame.
I also attached a screenshot of middle state of this animation.
<img width="534" alt="Screenshot 2019-10-02 at 19 03 31" src="

[2019-10-02 19:34] phatmann commented on #613
Is fixed by PR #615

[2019-10-14 16:54] leonspok opened #616 "Freeze during TextMessageMenuItemPresenter initialization"
We found that iOS 13 Simulator may freeze when we access UIPasteboard.general. Usually, it happens during TextMessageMenuItemPresenter initialization, which happens when chat screen is initialised. We haven't found this issue to be reproducible on the real device.

<img width="575" alt="Screenshot 2019-09-19 at 11 14 43" src="https://user-images.githubusercontent.com/3374306/66768808-5f778f00-eeab

[2019-10-14 17:08] dive commented on #616
It is an issue within Xcode itself, as far as I know. As a workaround, you can disable 'Automatically Sync Pasteboard': Simulator Menu -> Edit -> Automatically Sync Pasteboard -> disable.
It seems that the issue has been fixed with Xcode 11.2 beta.

[2019-10-15 09:49] leonspok commented on #616
Then, I guess, there is no need to change anything here

[2019-10-15 09:49] #616 closed

[2019-10-16 08:29] rafrybakowski opened #618 "Photo Messages reloading and flickering each time a new message is sent"
Hi, I've been working on a communicator app using Chatto, and I came across an issue with reloading images. If there are some Photo Messages present in the chat, and I send a new message (eg. text, the type makes no difference), all images are getting reloaded. Is this expected behaviour? I noticed that the same thing happens in your ChattoApp example, and it's not very visually appealing.

Chatto

[2019-10-16 10:52] AntonPalich commented on #618
@rafrybakowski Please, check this: #610

[2019-10-18 07:16] Denismih commented on #363
On iPhone 7 , iOS 12 userDidEndLongPressOnBubble and userDidBeginLongPressOnBubble doesn't work on TextBubble. This gestures call UITextView popover menu only (Copy). How can I fix this?

[2019-10-18 08:21] Denismih opened #619 "Custom actions in TextMessageMenuItemPresenter"
Could you, please, guide me how to create a  custom action (e.g. reply, forward) in TextMessageMenuItemPresenter.

[2019-10-18 12:59] Denismih commented on #434
Hello, I use chatto 3.5.0
I made my custom TextMessageMenuItemPresenter  and set it in TextMessagePresenterBuilder.
I followed the steps 1, 2. I took step 3 in TextMessageMenuItemPresenter.
I use this code for step 4
`extension TextMessageCollectionViewCell {
    @objc func forward(){
        print("Cell forward ext \(textMessageViewModel.text)")
    }
}`
And  I got my custom menu at the end.
But

[2019-10-24 07:15] #618 closed

[2019-10-27 09:39] OrChenOS commented on #601
@101airborne there is no need to develop file picker. You can add a new input item for selecting files and use `UIDocumentMenuViewController`.
I used the PhotoMessageCell to present the files preview and just changed the action when tapping the cell to present/download/share the file

[2019-10-28 17:23] 101airborne commented on #601
Thank you, OrChenOS.  I will try your suggestion next week when I get back from vacation.

[2019-10-29 18:19] leonyannik opened #621 "Swift Package Manager?"
Are there any plans to add this way to install?

[2019-11-11 12:20] Rouix opened #628 "Cell menu redesign"
Will you change the appearance of the message context menu like in iOS 13?
Are there any plans to add it?

[2019-11-11 19:32] 101airborne commented on #601
OrChenOS, I experimented with your suggestion to use UIDocumentMenuViewController for picking the files, and found that it works well despite the fact that UIDocumentMenuViewController is now deprecated.  But, I am still having a problem integrating it into a new FilesChatInputItem.  There is next to no guidance in the Chatto wikis on how to develop a new ChatInputItem and associated classes and p

[2019-11-18 11:31] #619 closed

[2019-12-10 07:11] Denismih commented on #373
Set `self.accessoryViewRevealerIsEnabled = false` in ChatViewController

[2020-01-07 06:03] acidlynx opened #631 "giphy"

[2020-01-07 06:03] #631 closed

[2020-01-14 06:43] sulaiman-mlbd opened #633 "Delete a chat item from SlidingDataSource"
Hello, I am using CompoundMessage to show my chat in ChatViewController. I am using SlidingDataSource here. Now I want to delete a chat item from ChatViewController and for that want to remove an item from SlidingDataSource. But I can see that the index has some dependencies on some of the property named windowOffset, windowCount, itemsOffset. Can any explain to me about the properties or give me

[2020-01-17 22:31] brandtdaniels opened #634 "Trying to get Chatto Demo code working within my own app and getting asserting failure"
Trying to get Chatto Demo code working within my own app and getting an assertion failure.

https://stackoverflow.com/questions/59793131/trying-to-get-chatto-demo-code-working-within-my-own-app-and-getting-asserting-f

[2020-01-22 00:35] #634 closed

[2020-01-23 00:56] brandtdaniels opened #635 "Easiest way to change colors of text bubbles"
Looking at the demo app, what is the easiest way to change the colors of the text bubbles?

I was trying to override the initializer of the `BaseMessageCollectionViewCellDefaultStyle` but it ends up not using those colors anyway. It has some colors hard coded in the extension it uses:

[code]

I really don't want to have to create my own style...

[2020-01-24 22:19] brandtdaniels commented on #635
Was able to find solutions in closed issues. It might be worth documenting.

[2020-01-24 22:19] #635 closed

[2020-01-24 22:42] brandtdaniels opened #636 "Scroll bar insets"
I've created an issue on SO regarding the scroll bar insets I am experiencing in my subclass of BaseChatViewController:

https://stackoverflow.com/questions/59884797/uiscrollview-bar-insets-the-size-of-the-tab-bar-and-nav-bar

Any help here would be preferred.

[2020-02-11 16:24] Loriens commented on #539
I have the same issue. Have you found a solution?

[2020-02-12 03:21] EddieLukeAtmey commented on #539
I've left the project a long time ago and don't have src code so I don't remember what I did at the time. Probably some hack, or just doesn't use it.

[2020-02-12 12:52] Loriens commented on #539
I have found a hack.

I use AutoLayout for creating UI, so I don't know the real cell size before it is created.

1) Therefore, I create a real cell instance in the initialization of `ChatItemProtocol` and save its size there (it's my cell model):
[code]
`UIView.fromNib()` - it creates a view from nib using `Bundle(for: ...).loadNibNamed(...)`

2) Presenter stores the cell model, so I can get the

[2020-02-14 05:35] rohitphogat19 opened #641 "CollectionView didSelectItem not working"
I am trying to implement some logic using
collectionView(_ collectionView: UICollectionView, didSelectItemAt indexPath: IndexPath) {}

But this function is not firing up. I am not using ChattoAdditions, so Interaction handler protocol is not in scenario

[2020-03-01 16:30] OrChenOS opened #645 "Assets are not presented after updating to xcode 11"
After updating to Xcode 11 all ChattoAdditions assets are not presented.
The assets folders are there and they appear on 'copy bundle resources' but when I run the app all the assets are missing.

Any workaround for this issue?

[2020-03-05 11:02] sergeifabian opened #647 "Swift compiler warnings 3.5.0"
Dependency was installed by docs
[code]
After `pod install` and `cmd+B` I face multiple swift compiler warnings such as public methods in public extensions. In master it was fixed. How to remove warnings?

[2020-03-08 13:29] #645 closed

[2020-03-30 08:24] Denismih commented on #633
when  delete or add new element in datasource you need to -1 or +1 to offset. If offset is 0 - do nothing.

[2020-04-07 08:51] Denismih opened #649 "How to find visible chatItem UIDs?"
Hello.
I need to save last visible chat item and then scroll to it in next session. Any idea how get UID from self.collectionView?.visibleCells ?

[2020-04-27 07:56] MasterWatcher commented on #344
@ahmadabudawod Any progress with this error?

[2020-05-15 14:21] wiruzx commented on #621
Hey @leonyannik, Thanks for bringing this up.
We're definitely would like to have SPM support, and planning to work on it in the near future!

[2020-05-15 14:38] wiruzx commented on #649
Hello @Denismih.
You definitely can get `uid` from the `cell.messageViewModel.messageModel`. However that'd require some force-casting and in general not the best practice in my opinion.
I think it'd be better implement `func cellWillBeShown(_ cell: UICollectionViewCell)` of `ChatItemPresenterProtocol` and save this information somewhere

[2020-05-15 14:38] #649 closed

[2020-05-15 14:40] wiruzx commented on #647
Hey @disquad
Could you please share more information on those warnings?
Thanks

[2020-05-15 14:42] wiruzx commented on #641
Hey @rohitphogat19,
Could you please share some details on that? Are you trying to implement this method in a subclass of `BaseChatViewController`?

[2020-05-15 14:45] wiruzx commented on #636
Hey @brandtdaniels,
On which iOS version do you see this issue?

[2020-05-15 15:26] wiruzx commented on #633
Hey @sulaiman-mlbd
I've added example to ChattoApp to give an idea of how the message could be removed in #652.
Please bear in mind that ChattoApp is a demo app for Chatto, and is not intended for production use.

[2020-05-15 15:26] #633 closed

[2020-05-15 15:36] wiruzx commented on #628
Hey @Rouix, thanks for bringing this up.
I think it'd be a great addition to Chatto.
Is that something you might be interested working on?

[2020-05-15 16:04] sulaiman-mlbd commented on #633
@Denismih  @wiruzx  thanks for your reply. @wiruzx  We used Chatto framework for a client project. The deadline was short so we used your framework instead of working from the ground. Thanks man for your effort. Chatto saved a lot of our time.

[2020-05-15 16:13] #9 closed

[2020-05-15 16:14] #17 closed

[2020-05-15 16:28] wiruzx commented on #66
Closing as it's probably outdated. Please feel free to reopen if it's still relevant.

[2020-05-15 16:28] #66 closed

[2020-05-15 16:32] brandtdaniels commented on #636
iOS 13

[2020-05-15 16:34] #181 closed

[2020-05-15 16:38] #229 closed

[2020-05-15 16:38] #236 closed

[2020-05-15 16:43] wiruzx commented on #237
You should be able to implement this selector in your BubbleView class.

[2020-05-15 16:43] #237 closed

[2020-05-15 16:46] #246 closed

[2020-05-15 16:47] #252 closed

[2020-05-15 16:49] #257 closed

[2020-05-15 16:49] #258 closed

[2020-05-15 16:53] #269 closed

[2020-05-15 16:53] #270 closed

[2020-05-15 16:55] #288 closed

[2020-05-15 16:55] #294 closed

[2020-05-15 17:02] #331 closed

[2020-05-15 17:29] wiruzx commented on #636
As you've mentioned in your StackOverflow post, I think it's probably related to the navigation and tab bar.
Can you provide some minimal reproducible example so we can help you with that?
Also you can try to override `viewDidLayoutSubviews` and after calling super, call `collectionView.chatto_setVerticalScrollIndicatorInsets` with your own insets

[2020-05-15 18:01] brandtdaniels commented on #636
@wiruzx I get this complaint:
Value of type 'UICollectionView' has no member 'chatto_setVerticalScrollIndicatorInsets'

[2020-05-15 18:12] wiruzx commented on #636
@brandtdaniels, Sorry, I missed that it is internal.
Try `collectionView.verticalScrollIndicatorInsets = ` instead

[2020-05-15 18:47] brandtdaniels commented on #636
@wiruzx I did confirm that this is not an issue on iOS 12, only seeing it on iOS 13.

This seems to fix the issue:

`
  override func viewDidLayoutSubviews() {

    super.viewDidLayoutSubviews()

    collectionView?.verticalScrollIndicatorInsets = .zero

  }
`

[2020-05-29 11:36] 95krasovsky opened #654 "Typo in ChattoAdditions extension for CGSize bma_rect"
File CGSize+Additions.swift
bma_rect method should use maxX property for calculating xAlignament instead of maxY.

[2020-05-29 12:42] Denismih commented on #285
Any news in new release about circle avatar?

[2020-05-31 23:15] #654 closed

[2020-06-10 14:12] 95krasovsky opened #656 "cellWillBeShown is called for cells behind chat input view"
Hi guys, I faced an issue when cellWillBeShown is called for items which are actually are hidden yet because they are behind ChatInputView. I use this method to update read status of messages, but result a bit incorrect because user hasn't seen these messages yet. Could you suggest any solution or workaround for this issue?

[2020-06-25 11:01] anupamchugh commented on #485
I'm looking for the same

[2020-07-07 21:51] #554 closed

[2020-07-08 11:48] petrpavlik opened #658 "Wrong input view size on iPad with attached hardware keyboard"
Experienced with Chatto 3.6, the input view size is shrunk to approx. 44pt.

**Repro steps:**
- Run the sample app on an iPad with a hardware keyboard attached
  - Can also be reproduced using the simulator
- Open any example in the sample app
- Switch from text input item to gallery item
  - It'll look fine at this point
- Switch back to text input mode
- Switch back to gallery item
  - Observe t

[2020-07-13 02:07] wiruzx commented on #656
Hey @95krasovsky,

You can change the size of the collection view, so it doesn't go under the ChatInputView and adjust scroll indicator insets accordingly.

[2020-07-13 02:07] #647 closed

[2020-07-13 02:08] #641 closed

[2020-07-13 02:14] wiruzx commented on #611
Thanks, fixed!

[2020-07-13 02:14] #611 closed

[2020-07-13 02:20] wiruzx commented on #582
Hey @wangjiejacques,
It's not weak intentionally, as nobody else is going to have strong reference to it in most cases.
Thanks

[2020-07-13 02:20] #582 closed

[2020-07-13 02:22] #564 closed

[2020-07-13 14:50] #534 closed

[2020-07-13 15:55] #550 closed

[2020-07-14 08:48] wangjiejacques commented on #582
Hi @wiruzx, in my case,  my first implementation was this,
I create a custom `ChatViewController: BaseChatViewController, ChatDataSourceProtocol`, and I call
[code]
I think many people will try to implement the custom data source like this, am I wrong?

[2020-07-17 09:43] wiruzx commented on #582
@wangjiejacques That makes sense, it's probably very intuitive to conform `BaseChatViewController` to `ChatDataSourceProtocol`, as people usually do with `UITableViewDataSource`.
However, since we try to follow SOLID principles, we usually create a separate object for our DataSource.
I agree that the name of the protocol could be misleading, and we're already having internal discussions about rena

[2020-08-06 01:44] brandtdaniels opened #663 "3.6.0 seems to have breaking changes to an interface"
super.init(colors: chatColors)

gives me error message: Must call a designated initializer of the superclass 'BaseMessageCollectionViewCellDefaultStyle'

    super.init(colors: chatColors, bubbleBorderImages: nil, failedIconImages: <#T##BaseMessageCollectionViewCellDefaultStyle.FailedIconImages#>, layoutConstants: <#T##BaseMessageCollectionViewCellLayoutConstants#>, dateTextStyle: <#T##BaseMessage

[2020-08-11 17:05] sundaleek opened #664 "How to manage corner radius of BubbleView"
Hello
I know BubbleView corners are managed via mask images, but I can not figure out how to create my own image resource for a specific corner radius of BubbleView.
Any suggestions?

Thanks

[2020-08-16 23:46] YamiDaisuke commented on #344
Not sure if the same case for you but for me it was because I was not calling the `super` function in my override of `viewWillAppear`

[2020-09-03 09:12] arjunnna opened #669 "Auto Read OTP is not working"
Dear Team ,

Auto Read OTP is not working .

Please enable auto read OTP in the SDK

[2020-09-07 01:01] wiruzx commented on #669
Hey @arjunnna,
I assume you're talking about `.oneTimeCode` text content type.

I think it might not be desirable for all users to have this content type, but you can override `createChatInputView` method in your subclass of `BaseChatViewController` and change content type of textView inside of `ChatInputBar`.

I hope that helps.

[2020-09-07 01:01] #669 closed

[2020-09-07 01:07] wiruzx commented on #664
Hey @sundaleek,
Currently we only support this by changing the image resource itself unfortunately.

But if you'd like to contribute to make it more flexible, please let me know, I'll provide you assistance on that.

Thanks

[2020-09-07 01:16] wiruzx commented on #663
Hey @brandtdaniels,

Thank you for submitting the issue. It seems like this initializer clashes with convenience init.

It's definitely needs fixing, so I'll put it on our roadmap.
But as a temporary workaround you can provide default values from `BaseMessageCollectionViewCellDefaultStyle.swift`

Hope that helps,

Thanks!

[2020-09-07 09:19] arjunnna commented on #669
Hey @wiruzx

Thanks for the response . I have override the  createChatInputView in my class which is a subclass of BaseChatViewController and I have changed the content type of the text view also but still OTP auto read is not working .

I have did like below

I have created a reference to ChatInputBar
**chatInputView = ChatInputBar.loadNib()**

and I have set the content type of textview to  .one

[2020-09-15 18:19] wiruzx commented on #663
Fixed in [this commit](https://github.com/badoo/Chatto/pull/672/commits/1b9dd9ffda0bcb5e46c7a8c964ae1caeda676e40)

[2020-09-15 18:19] #663 closed

[2020-09-15 18:25] #664 closed

[2020-09-27 21:54] wiruzx opened #681 "Fix running tests"
It seems that after enabling Library Evolution Support in #677 not all test cases are running.

There is one test case in Chatto - `ChatItemCompanionCollectionTests`. And a few of them in ChattoAdditions.

If XCTestCase uses a struct from Chatto it won't run.
Importing it as `@testable` doesn't seem to make any difference.

Removing `BUILD_LIBRARY_FOR_DISTRIBUTION` option solves the issue.
Making

[2020-10-21 11:22] antondityativ opened #687 "Photo image not showing"
I'm using this code to display image in cell. But image not showing:
<img width="993" alt="Снимок экрана 2020-10-21 в 17 26 04" src="https://user-images.githubusercontent.com/10920896/96713529-9176d780-13c2-11eb-8938-64eb5ecf0669.png">

[2020-10-21 11:27] antondityativ commented on #687
@phatmann @esilverberg @dive @asifmujteba Could you help me?

[2020-10-23 19:20] emtjoshhart commented on #687
Same here, just started happening in IOS 14

[2020-10-23 19:28] esilverberg commented on #687
Can you guys confirm you are on the latest Chatto?

If not, take a look at this commit: https://github.com/badoo/Chatto/commit/b3840d17a32abf113fdf3448174db3e429c3bb2e

See if you can apply it to your respective branches.

[2020-10-23 19:32] emtjoshhart commented on #687
Just confirmed it was from the mask on the image view layer within the PhotoBubbleView.  We had to manually install the framework.  For future devs:

Add these extensions:  https://raw.githubusercontent.com/badoo/Chatto/be313843ab4f222840f60445b2406e638b477b0a/ChattoAdditions/Source/Common/CALayer%2BImageMask.swift

Update Line 179 in PhotoBubbleView.swift to use the new mask:
https://raw.githubus

[2020-10-27 23:23] #687 closed

[2020-10-27 23:32] #613 closed

[2020-10-28 01:20] oTranAnhMinh opened #688 "Support force touch menu for iOS 13 or later"
Hello,

Can you support force touch feature to bring up a menu for messages in a conversation?

Thank you,

[2020-11-04 13:00] psi-gh commented on #494
I got constrains error too when adding it (properly) as child VC. Tested only programmatically. No Interface builder.

[2020-11-09 21:51] wiruzx commented on #494
Thanks for submitting the issue!
Would anyone like to try to fix this issue and submit a pull request?

[2020-11-10 08:19] psi-gh commented on #494
I got this working with call this method in container
`self.display(contentController: chatViewController, in: self.view)`
where `display` method is
[code]

I don't know why it didn't work earlier. I have a feeling like I did change anything and it just started working 😂

[2020-12-22 09:58] IrelDev opened #689 "How can I change image tint color of ChatInputItem?"

[2020-12-23 10:29] IrelDev commented on #689
I switched to messageKit because of the customization possibilities.

[2020-12-23 10:29] #689 closed

[2021-02-04 23:32] 101airborne opened #694 "Chat photo images are blank in build with Xcode 12 build on iOS 14"
Chat photo images are invisible in chat channel when App is built with any version of Xcode 12 and running in any version of iOS 14.  App built with Xcode 11.7 and running in any version of iOS 14 does not exhibit bug.

Chatto/ChattoAdditions version 3.5.0 installed with CocoaPods.

Apparently with Xcode < 12 and iOS < 14 deriving a mask from a layer was okay, but with Xcode 12 and  iOS 14 the eff

[2021-03-08 21:59] NairaManukyan commented on #539
Same issue here, I have the custom text and photocells but auto calculating height not possible :(

[2021-03-08 22:02] aramhakobyan commented on #539
Still, the issue present, need a normal fix, but a workaround. @wiruzx - could you please check it ?

[2021-03-16 12:11] wiruzx opened #700 "Enable swiftlint check for github workflows"

[2021-03-16 21:28] #621 closed

[2021-03-16 21:50] wiruzx commented on #539
Hey @NairaManukyan, @aramhakobyan

We're currently mostly using manual layout in our project, so we don't have the best autolayout support for cells.

The reason we initially used manual layout was performance while scrolling. It just wasn't possible to get 60fps scrolling on older devices.

Since then Apple has improved the autolayout performance, so we have plans for the near future to make it w

[2021-04-15 05:55] jvigneshcs commented on #621
@NicholasMata, @wiruzx,  Can you please create a new release (tag) with Swift Package Manger Enabled?
I'm getting the following issue with SPM

https://github.com/badoo/Chatto has no Package.swift manifest for version 4.0.0

[2021-05-16 12:44] Allow2CEO opened #706 "Chatto has no Package.swift manifest for version 4.0.0"
a few people also commented on this in #621:

@NicholasMata, @wiruzx, Can you please create a new release (tag) with Swift Package Manger Enabled?
I'm getting the following issue with SPM

https://github.com/badoo/Chatto has no Package.swift manifest for version 4.0.0

[2021-05-16 12:45] Allow2CEO commented on #621
Linked to #706

[2021-05-20 23:17] esilverberg opened #708 "Chatto input bar hidden on first display when using custom keyboard like Swiftkey"
When you are using a custom keyboard like SwiftKey, the first time Chatto renders, the input bar will be incorrectly drawn behind the keyboard.

Subsequent attempts to draw the keyboard succeed.

This repros on an iPhone 11 running iOS 14.5

This does not repro on iPhone 7 and I believe may be related to safe areas.

See this movie for a demo:

https://drive.google.com/file/d/1No_retbeNfJyh74w1G1D

[2021-05-21 00:23] #706 closed

[2021-05-21 00:25] wiruzx commented on #706
@Allow2CEO you should be able to use `4.1.0`

[2021-05-21 14:17] saniaxxx opened #711 "How to keep offset when scrolling to top?"
My datasource load new items from server, and when method "loadPrevious()" add new items, chat automatically scroll to the top, don't keeps offset at previously shows message.

[2021-05-26 00:19] esilverberg opened #712 "UICollectionView layout not invalidated on device rotation"
The UICollectionView `.collectionViewLayout` is not being properly invalidated on a rotation. This leads to the following, easily-reproable behavior (do this on the "Empty Chat" screen of the demo app):

<img width="1000" alt="Screen Shot 2021-05-25 at 8 13 53 PM" src="https://user-images.githubusercontent.com/58332/119584384-64ded000-bd96-11eb-9acb-48213d8e2b96.png">

The solution is fairly strai

[2021-05-27 12:53] DenisMihEpam opened #714 "How to deactivate scrolling of messages that shows time label ?"
There was accessoryViewRevealerIsEnabled = false parameter in old versions and now it's gone. What can I use to stop presenting time labels for messages?

[2021-06-01 09:36] arjunnna opened #715 "how to disable force touch of links in text view"
I am using the attributed text in the text bubble I want to disable forces touch of the links ...can you please help me how to disable force touch when using attributed text

[2021-06-01 09:59] arjunnna opened #716 "Disabling 3D Touch from opening webviews on UITextView?"
outes the user to a different part of the app.

I noticed that on iOS 9, with 3d touch, users can now force touch the links which opens up a Safari webview. Often this creates a really bad user experience, or opens up parts of my website, which I don't want on the app.

Is there any way I can disable this?

I'm delegating textView:shouldInteractWithURLinRange: but this method isn't getting called

[2021-06-15 21:07] brandtdaniels opened #718 "Issues migrating integration from Cocoapods to Swift Package"
When attempting to migrate from Cocoapods to Swift Package using 4.1.0

I have several issues where `import ChattoAdditions` is no longer working. Simply updating that import to `import Chatto` is causing other issues.

Please update your readme.md with clear directions on how to integrate using SPM and how to transition from using ChattoAdditions.

[2021-06-17 08:38] DenisMihEpam commented on #714
Thanks, mate!

[2021-06-28 20:04] NairaManukyan commented on #706
[!] CocoaPods could not find compatible versions for pod "ChattoAdditions":
  In Podfile:
    ChattoAdditions (= 4.1.0)

None of your spec sources contain a spec satisfying the dependency: `ChattoAdditions (= 4.1.0)`.

[2021-07-20 18:43] maxkonovalov commented on #718
@brandtdaniels I found a solution here - https://forums.swift.org/t/unable-to-import-multiple-targets-from-external-dependency/39030

It works like this:
[code]

[2021-07-21 08:55] qinhongke opened #719 "The simulator can't be used in the environment of iPhone 11-ios 15.0"
The simulator can't be used in the environment of iPhone 11-ios 15.0, demo can't jump to the chat interface, and the program doesn't crash, but it can't be operated

[2021-11-02 04:51] Nefelium opened #734 "Data detectors"
Hello. How to use and customize embedded data detectors for detect links, phone numbers, etc?

[2022-01-12 11:08] wiruzx opened #742 "Add support of message updates"

[2022-01-12 11:10] wiruzx opened #743 "Unify tree creation"

[2022-01-12 11:11] wiruzx opened #744 "Implement optional support for messages"

[2022-01-12 11:15] wiruzx opened #745 "Remove AnyLayoutProvider"

[2022-01-12 11:15] wiruzx opened #746 "Remove populateSizeProviders"

[2022-01-12 11:16] wiruzx opened #747 "Extract layout application from layout assembler"

[2022-01-13 09:33] wiruzx opened #748 "Remove "New Architecture" toggle from ChattoApp"

[2022-01-13 09:34] wiruzx opened #749 "Abstract hierarchy from View & Layout Assemblers"

[2022-01-13 09:37] wiruzx opened #750 "Reactive layout"
Create a way to trigger layout update

[2022-01-13 09:45] wiruzx opened #751 "Replace LayoutProvider in BindingKey with Layout"

[2022-01-13 09:49] wiruzx opened #752 "Support safe area insets"

[2022-01-13 09:51] wiruzx opened #753 "Autolayout support"

[2022-01-13 09:52] wiruzx opened #754 "Update styling of composable messages"

[2022-01-13 09:56] wiruzx opened #755 "Add DecoratedViewModel support"

[2022-01-13 09:57] wiruzx opened #756 "Add support of decoration for the message view"
Exaples:
- timestamp
- reactions emoji

[2022-01-13 09:59] wiruzx opened #757 "Implement layout cache"

[2022-01-13 09:59] wiruzx opened #758 "Better Compound Message compatibility layer"

[2022-01-13 10:00] wiruzx opened #759 "Unit tests for composable messages"

[2022-01-13 10:02] wiruzx opened #760 "Support opaque types"

[2022-01-13 10:03] wiruzx opened #761 "Remove `ChatItemPresenterBuilderCollectionViewConfigurable`"
generate reuse id on the go

[2022-01-13 10:04] wiruzx opened #762 "SwiftUI support"

[2022-01-13 10:05] wiruzx opened #763 "Documentation"

[2022-01-13 10:14] wiruzx opened #765 "Use LayoutApplicator in LayoutAssembler"

[2022-01-13 15:21] wiruzx opened #766 "Simplify configuration for composable messages"
Consider using result builders

[2022-02-25 18:37] brandtdaniels opened #767 "Several crashes occurring in ChattoAdditions Observable.cleanDeadObservers()"
My team is experiencing several crashes occurring in ChattoAdditions Observable, especially in cleanDeadObservers()

[2022-05-20 09:04] #743 closed

[2022-05-25 19:41] nfranke commented on #495
Especially "extension ChatInputBar: UITextViewDelegate" needs to have all methods declared as open so you can modify the behavior of the UITextViewDelegate methods. In particular, I want to work around the fact that maxCharactersCount is broken for pasting data, but I can't since not much is declared as open.

[2022-06-17 09:13] hien352911 opened #773 "Update examples"
Please update examples. I follow wiki documentation but don't build chat app. I run examples but the examples is different with documention

[2022-06-17 09:13] gsherofly007 commented on #773
您好，邮件收到

[2022-06-18 15:17] #773 closed

[2022-07-06 05:22] ahmad-sonder opened #777 "Image Picker Selected Photos Permission"
Thank you for your amazing work. We are using Chatto for chat module in our application. Recenlty we have been advised to review Photos/Gallery Permission Popup.
Steps to reproduce:

1. Close and reopen app
2. Open chat
3. Click the camera button at the lower left of the screen (right next to the keyboard button)
4. Select “Keep current selection”

From this point, if a member wants to add more ph

[2022-08-17 11:37] #484 closed

[2022-09-08 11:21] carlosmartins-siilo commented on #708
Do we have any update on this? It seems so that it's still happening.

[2022-09-08 11:22] gsherofly007 commented on #708
您好，邮件收到

[2022-10-11 07:08] gsherofly007 commented on #773
您好，邮件收到